<div class="content-wrapper">
  <!-- Content Header (Page header) -->
 <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">

        <!-- /.box -->

        <div class="box">
          <!-- <div class="box-header">
            <h3 class="box-title">Data Table With Full Features</h3>
          </div> -->
          <!-- /.box-header -->
          <div class="box-body">
            <div>
              <div class="row">
                <div class="col-sm-8" style="font-size:20px; font-weight: bold;">City</div>
                <div class="col-sm-4" style="text-align: right">

                  <label>Show
                    <select class="input-sm" id="ddlLengthMenu">
                    </select> rows
                     &nbsp;&nbsp;
                    <input type="text" id="txtSearch" class="input-sm" placeholder="Search...">
                  </label>

                </div>
              
              </div>
            </div>
            <!-- <section class="content-header">Table Header</section> -->
            <table id="example1" class="table table-bordered table-hover">

              <thead>
                <tr>
                  <th>Bank City</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let item of arCityData" data-toggle="modal" data-target="#editCityMasterModal">
                  <td>{{item.BankCity}}</td>
                  <td>
                    <a title="Edit">
                      <i class="fa fa-edit"></i>
                    </a>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
  <div class="favicon">
    <div class="tooltip bg-black text-white font-size-12 padding-5 border-radius-3 fw-700">
      <span class="tooltip-text">Add City</span>
    </div>
    <a>
      <i class="fa fa-plus" type="button" data-toggle="modal" data-target="#addCityMasterModal"></i>
    </a>
  </div>
  <app-add-city></app-add-city>
  <app-edit-city></app-edit-city>
</div>