<style>
  .ui-dialog-titlebar-close {
    visibility: hidden;
  }
</style>

<div class="content-wrapper">
  <div class="page-heading">
    User Management
  </div>

  <section class="content">
    <div class="row">
      <div class="col-xs-12">

        <div class="box">
          <div class="box-body">
            <div>
              <div class="row table-toolbar">
                <div class="col-sm-4 heading">Users</div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-2">
                  <input type="text" id="txtSearch" class="input-sm custom-search" placeholder="Search..." (keyup)="searchFilter($event.target.value)">
                </div>
              </div>
            </div>
            <div style="margin-top: 10px">
              <app-data-table #dataTable [tableData]="tableInputData" [tableColumns]="columns" (rowDoubleClick)="editUser($event)" [showRowSelect]="rowSelect"
                [hoverTableRow]="hoverTableRow" [showSearchFilter]="showSearchFilter">
              </app-data-table>
            </div>
          </div>

        </div>

      </div>

    </div>

  </section>

  <div class="favicon" data-toggle="modal" data-target="#addUserModal">
    <div class="tooltip bg-black text-white font-size-12 padding-5 border-radius-3 fw-700">
      <span class="tooltip-text">Add User</span>
    </div>
    <a>
      <i class="fa fa-plus" type="button"></i>
    </a>
  </div>
  <app-add-user (userAdded)="addUserToList($event)" [Status]="userStatus" [Roles]="userRoles" [Branches]="Branches"></app-add-user>

  <app-edit-user [Roles]="userRoles" [Status]="userStatus" [tableInputData]="tableInputData" [Branches]="Branches"></app-edit-user>
  <!-- /.content -->
</div>

<div class="modal fade" id="subscriptionModal">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius: 5px;">
      <div class="modal-header modal-header-addedit">
        <button type="button" id="closebtn" class="close close-addedit">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">LegalFriend Subscription</h4>
      </div>
      <div style="background-color: #f44242; color: white; border-color: #ddd; border-radius: 5px;
        height:99px ">

        <img src="/assets/dist/img/expired.ico" style="width:70px;margin-left:250px" />


      </div>
      <div style="width:120px;height:10%;background-color:black;"></div>
      <div class="modal-body modal-body-adedit" style="margin-top: -15px;">

        <div class="row">
          <!-- <div class="col-md-12"> -->
          <input type="hidden" name="base_url" id="base_url" value="http://legalfriend.infinityfreeapp.com/">
          <div>
            <div class="box-body widget-content">

              <form class="form-horizontal">
                <div class="form-body">

                  <div class="tab-content">

                    <div class="tab-pane active">

                      <div class="form-group row">

                        <h2 style="margin-left:110px">Your license has expired</h2>
                        <p style="margin-left:115px">don't worry, You can avail this service by Pay</p>
                        <div class="form-group row">
                          <div class="col-md-4">

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="margin-left:215px">

                    <a class="btn btn-success" href='https://www.payumoney.com/paybypayumoney/#/B734527DC5DCFE348F1AC3A66A2C48BD'>Continue</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- </div> -->
        </div>
        <!-- Create User ends -->
      </div>


    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->

</div>

<div class="modal fade" id="subscriptionWarningModal">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius: 5px;">
      <div class="modal-header modal-header-addedit">
        <button type="button" id="closebtn" class="close close-addedit">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">LegalFriend Subscription</h4>
      </div>
      <div style="background-color:yellow; color: white; border-color: #ddd; border-radius: 5px;
          height:99px ">

        <img src="/assets/dist/img/warning.png" style="width:70px;margin-left:250px" />


      </div>
      <div style="width:120px;height:10%;background-color:black;"></div>
      <div class="modal-body modal-body-adedit" style="margin-top: -15px;">

        <div class="row">
          <!-- <div class="col-md-12"> -->
          <input type="hidden" name="base_url" id="base_url" value="http://legalfriend.infinityfreeapp.com/">
          <div>
            <div class="box-body widget-content">

              <form class="form-horizontal">
                <div class="form-body">

                  <div class="tab-content">

                    <div class="tab-pane active">

                      <div class="form-group row">

                        <h2 style="margin-left:110px">Your license is going to expire</h2>
                        <p style="margin-left:115px">click on continue to pay</p>
                        <div class="form-group row">
                          <div class="col-md-4">

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="margin-left:215px">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Trial User</button>
                    <a class="btn btn-success" href='https://www.payumoney.com/paybypayumoney/#/B734527DC5DCFE348F1AC3A66A2C48BD'>Continue</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- </div> -->
        </div>
        <!-- Create User ends -->
      </div>


    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->

</div>