.mat-column-name {
    flex: 0 0 30% !important;
  }
  .mat-column-email {
    flex: 0 0 30% !important;
}
.mat-column-mobileNumber{
    flex:0 0 10% !important;
}
.mat-column-roles {
    flex: 0 0 10% !important;
}
.mat-column-status {
    flex: 0 0 10% !important;
}
.mat-cell-text{
    max-width: 220px !important
}