.mat-column-name {
    flex: 0 0 170px !important;
  }
  .mat-column-email {
    flex: 0 0 220px !important;
}
.mat-column-mobileNumber{
    flex:0 0 170px !important;
}
.mat-column-roles {
    flex: 0 0 180px !important;
}
.mat-column-status {
    flex: 0 0 180px !important;
}