<style>
  .ui-dialog-titlebar-close {
    visibility: hidden;
  }
  body {
  background: #ecf0f1;
  color: #8e44ad;
}
.center-on-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 36px;
  cursor: pointer;
}
label::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid #8e44ad;
  border-radius: 4px;
  z-index: -1;
}
input[type="radio"] + label::before {
  border-radius: 18px;
}
/* Checked */
input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  padding-left: 10px;
  color: #fff;
}
input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  top: 0;
  width: 100%;
  height: 100%;
  background: #8e44ad;
}
/* Transition */
label,
label::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
</style>

<div class="content-wrapper">
  <div class="page-heading">
    User Management
  </div>

  <section class="content">
    <div class="row">
      <div class="col-xs-12">

        <div class="box">
          <div class="box-body">
            <app-data-table #dataTable [tableData]="tableInputData" [tableColumns]="columns" (rowDoubleClick)="onRowDoubleClick($event)" [showRowSelect]="rowSelect"
              [hoverTableRow]="hoverTableRow" [actionColumnConfig]="actionColumnConfig"  (actionBtnClick)="onActionBtnClick($event)" (actionBtnChangePassword)="onActionBtnClickForChangePasswordPopup($event)">
            </app-data-table>
          </div>

        </div>

      </div>

    </div>

  </section>

  <div class="favicon" data-toggle="modal" data-target="#addUserModal">
    <div class="tooltip bg-black text-white font-size-12 padding-5 border-radius-3 fw-700">
      <span class="tooltip-text">Add User</span>
    </div>
    <a>
      <i class="fa fa-plus" type="button"></i>
    </a>
  </div>
  <app-add-user (userAdded)="addUserToList($event)" [Status]="userStatus" [Roles]="userRoles" [institutions]="institutions" [Branches]="Branches"></app-add-user>

  <app-edit-user [Roles]="userRoles" [Status]="userStatus" [tableInputData]="tableInputData" [institutions]="institutions" [Branches]="Branches"></app-edit-user>
  <!-- /.content -->
</div>

<div class="modal fade" id="subscriptionModal">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius: 5px;">
      <div class="modal-header modal-header-addedit">
        <button type="button" id="closebtn" class="close close-addedit">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">LegalFriend Subscription</h4>
      </div>
      <div style="background-color: #f44242; color: white; border-color: #ddd; border-radius: 5px;
        height:99px ">

        <img src="/assets/dist/img/expired.ico" style="width:70px;margin-left:250px" />


      </div>
      <div style="width:120px;height:10%;background-color:black;"></div>
      <div class="modal-body modal-body-adedit" style="margin-top: -15px;">

        <div class="row">
          <!-- <div class="col-md-12"> -->
          <input type="hidden" name="base_url" id="base_url" value="http://legalfriend.infinityfreeapp.com/">
          <div>
            <div class="box-body widget-content">

              <form class="form-horizontal">
                <div class="form-body">

                  <div class="tab-content">

                    <div class="tab-pane active">

                      <div class="form-group row">

                        <h2 style="margin-left:110px">Your license has expired</h2>
                        <p style="margin-left:115px">don't worry, You can avail this service by Pay</p>
                        <div class="form-group row">
                          <div class="col-md-4">

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="margin-left:215px">

                    <a class="btn btn-success" href='https://www.payumoney.com/paybypayumoney/#/B734527DC5DCFE348F1AC3A66A2C48BD'>Continue</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- </div> -->
        </div>
        <!-- Create User ends -->
      </div>


    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->

</div>

<div class="modal fade" id="subscriptionWarningModal">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius: 5px;">
      <div class="modal-header modal-header-addedit">
        <button type="button" id="closebtn" class="close close-addedit">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">LegalFriend Subscription</h4>
      </div>
      <div style="background-color:yellow; color: white; border-color: #ddd; border-radius: 5px;
          height:99px ">

        <img src="/assets/dist/img/warning.png" style="width:70px;margin-left:250px" />


      </div>
      <div style="width:120px;height:10%;background-color:black;"></div>
      <div class="modal-body modal-body-adedit" style="margin-top: -15px;">

        <div class="row">
          <!-- <div class="col-md-12"> -->
          <input type="hidden" name="base_url" id="base_url" value="http://legalfriend.infinityfreeapp.com/">
          <div>
            <div class="box-body widget-content">

              <form class="form-horizontal">
                <div class="form-body">

                  <div class="tab-content">

                    <div class="tab-pane active">

                      <div class="form-group row">

                        <h2 style="margin-left:110px">Your license is going to expire</h2>
                        <p style="margin-left:115px">click on continue to pay</p>
                        <div class="form-group row">
                          <div class="col-md-4">

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="margin-left:215px">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Trial User</button>
                    <a class="btn btn-success" href='https://www.payumoney.com/paybypayumoney/#/B734527DC5DCFE348F1AC3A66A2C48BD'>Continue</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- </div> -->
        </div>
        <!-- Create User ends -->
      </div>


    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->

</div>

<div class="modal fade" id="changePasswordPopUp">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius: 5px;">
      <div class="modal-header modal-header-addedit">
        <button type="button" class="close close-addedit" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Change  Password</h4>
      </div>
      <div style="width:120px;height:10%;background-color:black;"></div>
      <div class="modal-body modal-body-adedit" style="margin-top: -15px;">
        <!-- Edit User Starts -->
        <div class="row">
          <!-- <div class="col-md-12"> -->
          <input type="hidden" name="base_url" id="base_url" value="http://legalfriend.infinityfreeapp.com/">
          <div>
            <div class="box-body widget-content">
          
  <form [formGroup]="changePasswordForm" (ngSubmit)="changeUserPassword(changePasswordForm.value)">

    <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="New password" formControlName="newPassword">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        
    </div>

    <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder= "Confirm Password" formControlName="confirmPassword">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
       
    </div>

    <div class="form-group row">
        <!-- /.col -->
        <div class="col-xs-8"></div>
        <div class="col-xs-4">
            <button type="submit"  class="btn btn-primary btn-block btn-flat">Submit</button>
        </div>
        <!-- /.col -->
    </div>
</form>
              
            </div>
          </div>
          <!-- </div> -->
        </div>
        <!-- Create User ends -->
      </div>
      <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          <button type="submit" [disabled]="signupForm.invalid" class="btn btn-primary">Submit</button>
          
        </div> -->

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>




