<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      User Management
    </h1>
  </section> 

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
          <!-- <div class="box-header">
            <h3 class="box-title">Users</h3>
          </div> -->
          <div class="btn-group m-b-6">
            <button class="btn btn-default btn1 type active2" (click)="FilterGridData('All')">All</button>
          </div>
          <div class="btn-group m-b-6">
            <button class="btn btn-default btn1 type " (click)="FilterGridData('Active')">Active</button>
            <button class="btn btn-default btn1 type " (click)="FilterGridData('Trial')">Trial</button>
            <button class="btn btn-default btn1 type" (click)="FilterGridData('Expired')">Expired</button>
          </div>
          <div class="btn-group m-b-6">
            <button class="btn btn-default btn1 type " (click)="FilterGridData('Client')">Client</button>
            <button class="btn btn-default btn1 type " (click)="FilterGridData('Manager')">Manager</button>
            <button class="btn btn-default btn1 type " (click)="FilterGridData('Employee')">Employee</button>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example1" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Role</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                 <tr *ngFor="let item of arr; let i=index" data-toggle="modal"  data-target="#editUserModal" >
                        <td>{{i+1}}</td>
                        <td>{{item.CustomerName}}</td>
                        <td>{{item.Email}}</td>
                        <td>{{item.Mobile}}</td>
                        <td>{{item.UserType}}</td>
                         <td *ngIf="item.Status==='Active'">
                            <button class="btn btn-block btn-success btn-xs btn2" style="width:80px;font-size:small;cursor:auto">{{item.Status}}</button>
                        </td>
                        <td *ngIf="item.Status==='Trial'">
                            <button class="btn btn-block btn-warning btn-xs btn3" style="width:80px;font-size:small;cursor:auto">{{item.Status}}</button>
                            

                        </td>
                        <td *ngIf="item.Status==='Expired'" >
                            <button class="btn btn-block btn-danger btn-xs btn4" style="width:80px;font-size:small;cursor:auto">{{item.Status}}</button>
                            </td> 
                    </tr>
              </tbody>
              <tfoot>
              </tfoot>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>

  <div class="favicon">
    <div class="tooltip bg-black text-white font-size-12 padding-5 border-radius-3 fw-700">
      <span class="tooltip-text">Add User</span>
    </div>
    <a>
      <i class="fa fa-plus" type="button" data-toggle="modal" data-target="#modal-default"></i>
    </a>
  </div>
  <app-add-user></app-add-user>

  <app-edit-user></app-edit-user>
  <!-- /.content -->
</div>