<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <!-- Main content -->
  <div class="page-heading">
    Master Management
  </div>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">

        <!-- /.box -->

        <div class="box">
          <!-- <div class="box-header">
              <h3 class="box-title">Data Table With Full Features</h3>
            </div> -->
          <!-- /.box-header -->
          <div class="box-body" id="stageTable">
            <app-data-table #dataTable [tableData]="tableInputData" [tableColumns]="columns" (rowDoubleClick)="onRowDoubleClick($event)" [showRowSelect]="rowSelect"
              [hoverTableRow]="hoverTableRow" [actionColumnConfig]="actionColumnConfig" (actionBtnClick)="onActionBtnClick($event)">
            </app-data-table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
  <div class="favicon" data-toggle="modal" data-target="#addStageMasterModal">
    <div class="tooltip bg-black text-white font-size-12 padding-5 border-radius-3 fw-700">
      <span class="tooltip-text">Add Stage</span>
    </div>
    <a>
      <i class="fa fa-plus" type="button"></i>
    </a>
  </div>
  <app-add-stage [arStage]="tableInputData" [arStatus]="arStatus" [arRecourse]="arRecourse" [dataTableComponent]="dataTableComponent"></app-add-stage>
  <app-edit-stage [arStage]="tableInputData" [arStatus]="arStatus" [arRecourse]="arRecourse"></app-edit-stage>
</div>