<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Stage
      <!-- <small>advanced tables</small> -->
    </h1>
    <!-- <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Tables</a></li>
      <li class="active">Data tables</li>
    </ol> -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        
        <!-- /.box -->

        <div class="box">
          <!-- <div class="box-header">
            <h3 class="box-title">Data Table With Full Features</h3>
          </div> -->
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example1" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>Recource</th>
                <th>Stage Code</th>
                <th>Stage Name</th>
                <th>Action</th>
               
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of arr" (dblclick)="showEditModal()" data-target="#editStageMasterModal" >
                <td>{{item.Recource}}</td>
                <td>{{item.StageCode}}
                </td>
                <td>{{item.StageName}}</td>
                <td><a   title="Edit"><i class="fa fa-edit"></i></a></td>
              </tr>
            
              </tbody>
             
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
  <div class="favicon">
      <div class="tooltip bg-black text-white font-size-12 padding-5 border-radius-3 fw-700">
        <span class="tooltip-text">Add Stage</span>
      </div>
      <a>
        <i class="fa fa-plus" type="button" data-toggle="modal" data-target="#addStageMasterModal"></i>
      </a>
    </div>
  <app-add-stage></app-add-stage>
  <app-edit-stage></app-edit-stage>
</div>