<style type="text/css">
    body {
        background: #fafafa;
        font: 12px/20px Arial, Helvetica, sans-serif
    }

    .invoice-wrap {
        width: 915px;
        margin: 0 auto;
        background: #FFF;
        color: #000;
        min-height: 700px;
    }

    .invoice-inner {
        margin: 0 15px;
        padding: 20px 0;
    }

    .invoice-address {
        border-top: 3px double #000000;
        margin: 20px 0;
        padding-top: 25px;
    }

    .bussines-name {
        font-size: 18px;
        font-weight: 100
    }

    .invoice-name {
        font-size: 22px;
        font-weight: 700
    }

    .listing-table th {
        background-color: #e5e5e5;
        border-bottom: 1px solid #555555;
        border-top: 1px solid #555555;
        font-weight: bold;
        text-align: left;
        padding: 6px 4px
    }

    .listing-table td {
        border-bottom: 1px solid #555555;
        text-align: left;
        padding: 5px 6px;
        vertical-align: top
    }

    .total-table td {
        border-left: 1px solid #555555;
    }

    .total-row {
        background-color: #e5e5e5;
        border-bottom: 1px solid #555555;
        border-top: 1px solid #555555;
        font-weight: bold;
    }

    .row-items {
        margin: 5px 0;
        display: block
    }

    .notes-block {
        margin: 50px 0 0 0
    }

    /*tables*/

    table td {
        vertical-align: top
    }

    .items-table {
        border: 1px solid #555555;
        border-collapse: collapse;
        width: 100%
    }

    .items-table td,
    .items-table th {
        border: 1px solid #555555;
        padding: 4px 5px;
        text-align: left
    }

    .items-table th {
        background: #f5f5f5;
    }

    .totals-row .wide-cell {
        border: 1px solid #fff;
        border-right: 1px solid #555555;
        border-top: 1px solid #555555
    }

    .html2canvas-container {
        width: 3000px !important;
        height: 3000px !important;
    }

    #NewPaginationContainer {
        text-align: right;
    }
</style>
<div class="content-wrapper" id="print-section">
    <div class="page-heading">
        Invoice
    </div>
    <!-- Main content -->
    <div id="editor"></div>

    <section class="content">
        <div id="templateArea">
            <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="invoice-wrap">

                        <div class="invoice-inner" id="pdfdownloaddiv">
                            <table border="0" cellpadding="0" cellspacing="0" class="is_logo" width="100%">
                                <tbody>
                                    <tr>
                                        <td align="center" valign="top">
                                            <div>
                                                <div id="logoDiv">
                                                    <img height="102" *ngIf="invoiceTemplateInfo.photoUrl" [src]="invoiceTemplateInfo.photoUrl" class="img-fluid" alt="">
                                                    <!-- <img height="102" id="logo" src="/assets/dist/img/logo.png" width="122" style="width: 122px; height: 102px;" data-original-title=""
                                                        title=""> -->
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="invoice-address">
                                <div class="col-md-12 " style="padding:0px;margin-bottom:30px;">
                                    <div class="col-md-2" style="padding:0px;">
                                        <label>Bill To</label>
                                    </div>
                                    <div class="col-md-5" style="text-align:left">
                                        <textarea id="txtBillToAddress" value={{invoiceTemplateInfo.billToAddress}} rows="2" class="form-control"></textarea>
                                    </div>
                                    <div class="col-md-5" style="text-align:right">
                                        <textarea id="txtcompanyAddress" value={{invoiceTemplateInfo.CompanyAddress}} rows="2" class="form-control"></textarea>
                                    </div>

                                </div>
                                <div class="col-md-12" style="padding:0px;">

                                    <div class="col-md-6" style="padding:0px;">
                                        <label>Invoice No : </label>
                                        <label id=invoiceNo>{{invoiceTemplateInfo.invoiceNo}}</label>
                                    </div>
                                    <div class="col-md-6" style="text-align:right;padding:0px;">
                                        <div style="display: inline-flex">
                                            <label>Date : </label>
                                            <label> {{ todayDate | date}}</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div>
                                <table id="tblInvoice" class="table table-condensed table-bordered table-striped items-table">
                                    <thead>
                                        <tr>
                                            <th>
                                                Description
                                            </th>
                                            <th class="mount-header">
                                                Quantity
                                            </th>
                                            <th class="subtotal-header">
                                                Amount
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody id="itemsInvoice">
                                        <tr description="Product name" qty="1" unit_price="0" discount="0" subtotal="0" total="0" class="invoiceRow">
                                            <td *ngIf="arrInvoiceDetails.totalDescription" style="width: 500px">
                                                <textarea rows="4" disabled class="form-control description" type="text" placeholder="Description">{{arrInvoiceDetails.totalDescription}}</textarea>
                                            </td>
                                            <td *ngIf="arrInvoiceDetails.totalQuantity">
                                                <input class="form-control quantity" disabled value="{{arrInvoiceDetails.totalQuantity}}" style="width:100px" placeholder="Quantity">
                                            </td>
                                            <td>
                                                <div *ngIf="arrInvoiceDetails.totalAmount">
                                                    <input class="form-control amount" disabled value="{{arrInvoiceDetails.totalAmount}}" style="width:100px" placeholder="Amount">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot id="TotalsSection">

                                        <tr class="totals-row" id="TotalRow">
                                            <!-- <td class="wide-cell" colspan="1">
                                                        <button type="button" (click)="AddMoreInvoice()" id="AddProduct" class="btn btn-small btn-primary">
                                                            <i class="fa fa-plus"></i> Add Line</button>
                                                    </td> -->
                                            <td colspan="2">
                                                <strong>
                                                    <!-- <input type="text" id="label_total" value="Total" class="invoice-input" style="font-weight: bold;"> -->
                                                    <label style="font-weight:bold">Total</label>
                                                </strong>
                                            </td>
                                            <td colspan="2">
                                                <div *ngIf="arrInvoiceDetails.totalAmount">
                                                    Rs
                                                    <label id="totalAmount">{{arrInvoiceDetails.totalAmount}}</label>
                                                </div>
                                            </td>
                                        </tr>

                                    </tfoot>
                                </table>
                            </div>

                            <div class="notes-block">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <textarea rows="4" id="remarksInvoice" class="form-control" placeholder="Type your notes here">{{invoiceTemplateInfo.termEndCond}}</textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button class="btn btn bg-navy margin pull-right" (click)="SaveInvoice()" style="margin-right:0px" type="submit">Submit</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <br>
                            <br>
                            <br> &nbsp;
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <a (click)="StoreInvoiceTemplateInfo()" [routerLink]="['/admin/invoices/invoicenextform']" class="btn btn-default">Next</a>
                </div>
            </div>


        </div>
    </section>

</div>
<div style="clear: both;"></div>