<div class="modal fade" id="addUserModal">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius: 5px;">
      <div class="modal-header modal-header-addedit">
        <button type="button" id="closebtn" class="close close-addedit" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Create User</h4>
      </div>
      <div style="width:120px;height:10%;background-color:black;"></div>
      <div style="margin-top: -15px;" class="modal-body modal-body-adedit">
        <!-- Create User Starts -->
        <div class="row">
          <!-- <div class="col-md-12"> -->
          <input type="hidden" name="base_url" id="base_url" value="http://legalfriend.infinityfreeapp.com/">
          <div>
            <div class="box-body widget-content">
              <form [formGroup]="addForm" class="form-horizontal" (ngSubmit)="submitAddUser(addForm.value)">
                <div class="form-body">
                  <div class="tab-content">
                    <div class="tab-pane active">

                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label createUserLabel">First Name:
                          <em class="astrick">*</em>
                        </label>
                        <div class="col-md-9" [class.has-error]="addForm.get('firstName').invalid &&  addForm.get('firstName').touched">
                          <input class="form-control" OnlyString="true" placeholder="First Name" formControlName="firstName">
                        </div>
                        <div class="col-sm-9 valodation-padding" *ngIf="addForm.get('firstName').invalid &&  addForm.get('firstName').touched">
                          <small class="text-danger">
                            <span>First name is required.</span>
                          </small>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label createUserLabel">Last Name:
                          <em class="astrick">*</em>
                        </label>
                        <div class="col-md-9" [class.has-error]="addForm.get('lastName').invalid &&  addForm.get('lastName').touched">
                          <input class="form-control" OnlyString="true" placeholder="Last Name" formControlName="lastName">
                        </div>
                        <div class="col-sm-9 valodation-padding" *ngIf="addForm.get('lastName').invalid &&  addForm.get('lastName').touched">
                          <small class="text-danger">
                            <span>Last name is required.</span>
                          </small>
                        </div>
                      </div>
                      <div class="form-group row" style="display: none">
                        <label class="col-sm-3 col-form-label createUserLabel">Organisation:
                          <em class="astrick">*</em>
                        </label>
                        <div class="col-md-9" [class.has-error]="addForm.get('organisation').invalid &&  addForm.get('organisation').touched">
                          <input class="form-control" placeholder="Organisation" formControlName="organisation">
                        </div>
                        <div class="col-sm-9 valodation-padding" *ngIf="addForm.get('organisation').invalid &&  addForm.get('organisation').touched">
                          <small class="text-danger">
                            <span>Organisation is required.</span>
                          </small>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label createUserLabel">Address Line1:
                          <em class="astrick">*</em>
                        </label>
                        <div class="col-md-9" [class.has-error]="addForm.get('addressLine1').invalid &&  addForm.get('addressLine1').touched">
                          <input class="form-control" placeholder="Address Line1" formControlName="addressLine1">
                        </div>
                        <div class="col-sm-9 valodation-padding" *ngIf="addForm.get('addressLine1').invalid &&  addForm.get('addressLine1').touched">
                          <small class="text-danger">
                            <span>Address Line1 is required.</span>
                          </small>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label createUserLabel">Address Line2:
                          <em class="astrick">*</em>
                        </label>
                        <div class="col-md-9" [class.has-error]="addForm.get('addressLine2').invalid &&  addForm.get('addressLine2').touched">
                          <input class="form-control" placeholder="Address Line2" formControlName="addressLine2">
                        </div>
                        <div class="col-sm-9 valodation-padding" *ngIf="addForm.get('addressLine2').invalid &&  addForm.get('addressLine2').touched">
                          <small class="text-danger">
                            <span>Address Line2 is required.</span>
                          </small>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label createUserLabel">Postalcode/Zip:
                          <em class="astrick">*</em>
                        </label>
                        <div class="col-md-9" [class.has-error]="addForm.get('postalCode').invalid &&  addForm.get('postalCode').touched">
                          <input class="form-control" maxlength="8" OnlyNumber="true" placeholder="Postalcode/Zip" formControlName="postalCode">
                        </div>
                        <div class="col-sm-9 valodation-padding" *ngIf="addForm.get('postalCode').invalid &&  addForm.get('postalCode').touched">
                          <small class="text-danger">
                            <span>{{zipValidationMessage}}</span>
                          </small>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label createUserLabel">Email:
                          <em class="astrick">*</em>
                        </label>
                        <div class="col-md-9" [class.has-error]="addForm.get('email').invalid &&  addForm.get('email').touched">
                          <input class="form-control" placeholder="Email Address" formControlName="email">
                        </div>
                        <div class="col-sm-9 valodation-padding" *ngIf="addForm.get('email').invalid &&  addForm.get('email').touched">
                          <small class="text-danger">
                            <span>{{emailValidationMessage}}</span>
                          </small>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label createUserLabel">Password:
                          <em class="astrick">*</em>
                        </label>
                        <div class="col-md-9" [class.has-error]="addForm.get('password').invalid &&  addForm.get('password').touched">
                          <input class="form-control" type="password" placeholder="Password" formControlName="password">
                        </div>
                        <div class="col-sm-9 valodation-padding" *ngIf="addForm.get('password').invalid &&  addForm.get('password').touched">
                          <small class="text-danger">
                            <span>{{passwordValidationMessage}}</span>
                          </small>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label createUserLabel">Confirm Password:
                          <em class="astrick">*</em>
                        </label>
                        <div class="col-md-9" [class.has-error]="addForm.get('confirmPassword').invalid &&  addForm.get('confirmPassword').touched">
                          <input class="form-control" type="password" placeholder="Confirm Password" formControlName="confirmPassword">
                        </div>
                        <div class="col-sm-9" style="padding-left:15px" *ngIf="addForm.get('confirmPassword').invalid &&  addForm.get('confirmPassword').touched">
                          <small class="text-danger">
                            <span>Confirm password is required.</span>
                          </small>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label createUserLabel">Mobile No:
                          <em class="astrick">*</em>
                        </label>
                        <div class="col-md-9" [class.has-error]="addForm.get('mobileNumber').invalid &&  addForm.get('mobileNumber').touched">
                          <input class="form-control" OnlyNumber="true" maxlength="15" placeholder="Mobile No" formControlName="mobileNumber">
                        </div>
                        <div class="col-sm-9 valodation-padding" *ngIf="addForm.get('mobileNumber').invalid &&  addForm.get('mobileNumber').touched">
                          <small class="text-danger">
                            <span>{{mobileNoValidationMessage}}</span>
                          </small>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label createUserLabel">Role:
                          <em class="astrick">*</em>
                        </label>
                        <div class="col-md-9">
                          <div class="col-sm-4" style="padding-left:0px;">
                            <select formControlName="role" (change)="rolechange($event)" class="form-control">
                              <option *ngFor="let option of Roles" [ngValue]="option.id">
                                {{ option.roleName }}
                              </option>
                            </select>
                          </div>
                          <div class="col-sm-4" *ngIf="roleValue==3" style="padding-left:0px;">
                            <select (change)="userTypeRoleChange($event)" formControlName="userTypeRole" class="form-control">
                                  <option value="1">Individual</option>
                                  <option value="2">Institutional</option>
                            </select>
                          </div>
                         

                          <div class="col-sm-4"  style="padding-left:0px;" *ngIf="roleValue==3 && userTypeRole.value == '2'">
                            <select   class="form-control" formControlName="institutions">
                              <option *ngFor="let option of institutions" [ngValue]="option.id">
                                {{ option.institutionName }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row" *ngIf="roleValue==3 && userTypeRole.value == '2'">
                        <label class="col-sm-3 col-form-label createUserLabel">Branch:
                          <em class="astrick">*</em>
                        </label>
                        <div class="col-sm-9"  >
                          <select  formControlName="branchName" class="form-control">
                            <option *ngFor="let option of Branches" [ngValue]="option.id">
                              {{ option.branchName }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label createUserLabel">Status:
                          <em class="astrick">*</em>
                        </label>
                        <div class="col-md-9">
                          <select formControlName="status" class="form-control">
                            <option *ngFor="let option of Status" [ngValue]="option.statusId">
                              {{ option.statusName }}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group row">
                        <div class="col-md-4">
                          <!-- <button type="submit" [disabled]="signupForm.invalid" class="btn green button-submit">
                      Submit
                      <i class="m-icon-swapright m-icon-white"></i>
                    </button> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer modal-footer-addedit">
                  <button type="button" class="btn btn-default btn-default-add-edit" data-dismiss="modal">Close</button>
                  <button type="submit" [disabled]="addForm.invalid" class="btn btn-modal-addedit">Submit</button>
                </div>
              </form>
            </div>
          </div>
          <!-- </div> -->
        </div>
        <!-- Create User ends -->
      </div>
      <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          <button type="submit" [disabled]="signupForm.invalid" class="btn btn-primary">Submit</button>
          
        </div> -->

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<script>

</script>