<style>
  .content-left-label {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background-color: #dee2e6;
    padding: 10px 15px;
    display: block;
    margin-bottom: 1px;
  }
</style>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Edit Profile
    </h1>
   
  </section>

  <!-- Main content -->
  <section class="content">
      
    <div class="row">
      <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
          <div class="box-body">
             
            <div class="col-md-4 col-lg-3">
              <label class="content-left-label">Your Profile Photo</label>
              <figure class="edit-profile-photo" style="border:1px solid #dee2e6">

                <img width="100%" src="assets/dist/img/user2-160x160.jpg" class="img-fluid" alt="">
                
                <figcaption style="background-color: #dee2e6;">                  
              <a *ngIf="!isEditMode" (click)="EditProfileData()" class="btn btn-default">Edit Profile</a>
                </figcaption>
              </figure>

            </div>
            <div *ngIf="!isEditMode" class="col-md-8 col-lg-9 mg-t-30 mg-md-t-0">
              <form class="form-horizontal">
                <div class="form-body">
                  <div class="panel panel-default">
                    <div class="panel-heading">Login Information</div>
                    <div class="panel-body">
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Username:
                        </label>
                        <label class="col-sm-4 form-control-label">{{arrEditProfileInfo.UserName}}
                        </label>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Email:
                        </label>
                        <label class="col-sm-4 form-control-label">{{arrEditProfileInfo.Email}}
                        </label>
                      </div>
                      <div class="form-group row mg-b-0">
                        <label class="col-sm-3 form-control-label">Password:</label>
                        <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                          <a href="">Change Password</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">Personal Information</div>
                    <div class="panel-body">
                      <div class="edit-profile-form">
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Firstname:</label>
                          <label class="col-sm-4 form-control-label">{{arrEditProfileInfo.FirstName}}
                          </label>
                        </div>
                        <!-- form-group -->
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Lastname:</label>
                          <label class="col-sm-4 form-control-label">{{arrEditProfileInfo.LastName}}
                          </label>
                        </div>
                        <!-- form-group -->
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Organisation:</label>
                          <label class="col-sm-4 form-control-label">{{arrEditProfileInfo.Organisation}}
                          </label>
                        </div>
                        <!-- form-group -->
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Address Line 1:</label>
                          <label class="col-sm-4 form-control-label">{{arrEditProfileInfo.AddressLine1}}
                          </label>
                        </div>
                        <!-- form-group -->
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Address Line 2:</label>
                          <label class="col-sm-4 form-control-label">{{arrEditProfileInfo.AddressLine2}}
                          </label>
                        </div>
                        <!-- form-group -->
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Postal Code:</label>
                          <label class="col-sm-4 form-control-label">{{arrEditProfileInfo.PostalCode}}
                          </label>
                        </div>
                        <!-- form-group -->
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Mobile:</label>
                          <label class="col-sm-4 form-control-label">{{arrEditProfileInfo.Mobile}}
                          </label>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <div *ngIf="isEditMode" class="col-md-8 col-lg-9 mg-t-30 mg-md-t-0">
              <form #profileForm="ngForm" class="form-horizontal" (ngSubmit)="SaveProfileData(profileForm.value)">
                <div class="form-body">
                  <div class="panel panel-default">
                    <div class="panel-heading">Login Information</div>
                    <div class="panel-body">
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Username:
                        </label>
                        <div class="col-sm-8 col-xl-6 mg-t-10 mg-sm-t-0">
                          <input class="form-control" name="Save_UserName" placeholder="Enter username" type="text" [(ngModel)]="arrSaveProfileInfo.Save_UserName">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Email:
                        </label>
                        <div class="col-sm-8 col-xl-6 mg-t-10 mg-sm-t-0">
                          <input class="form-control" name="Save_Email" placeholder="Enter username" type="email" [(ngModel)]="arrSaveProfileInfo.Save_Email">
                        </div>
                      </div>
                      <div class="form-group row mg-b-0">
                        <label class="col-sm-3 form-control-label">Password:</label>
                        <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                          <a href="">Change Password</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">Personal Information</div>
                    <div class="panel-body">
                      <div class="edit-profile-form">
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Firstname:</label>
                          <div class="col-sm-8 col-xl-6 mg-t-10 mg-sm-t-0">
                            <input class="form-control" name="Save_FirstName" placeholder="Enter firstname" type="text" [(ngModel)]="arrSaveProfileInfo.Save_FirstName">
                          </div>
                        </div>
                        <!-- form-group -->
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Lastname:</label>
                          <div class="col-sm-8 col-xl-6 mg-t-10 mg-sm-t-0">
                            <input class="form-control" name="Save_LastName" placeholder="Enter lastname" type="text" [(ngModel)]="arrSaveProfileInfo.Save_LastName">
                          </div>
                        </div>
                        <!-- form-group -->
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Organisation:</label>
                          <div class="col-sm-8 col-xl-6 mg-t-10 mg-sm-t-0">
                            <input class="form-control" name="Save_Organisation" placeholder="Enter location" type="text" [(ngModel)]="arrSaveProfileInfo.Save_Organisation">
                          </div>
                        </div>
                        <!-- form-group -->
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Address Line 1:</label>
                          <div class="col-sm-8 col-xl-6 mg-t-10 mg-sm-t-0">
                            <textarea class="form-control" name="Save_AddressLine1" placeholder="Enter some description of yourself" rows="3" [(ngModel)]="arrSaveProfileInfo.Save_AddressLine1"></textarea>
                          </div>
                        </div>
                        <!-- form-group -->
                        <div class="form-group row mg-b-0">
                          <label class="col-sm-3 form-control-label">Address Line 2:</label>
                          <div class="col-sm-9 col-xl-8 mg-t-10 mg-sm-t-0">
                            <textarea class="form-control" name="Save_AddressLine2" placeholder="Enter some description of yourself" rows="3" [(ngModel)]="arrSaveProfileInfo.Save_AddressLine2"></textarea>
                          </div>
                        </div>
                        <!-- form-group -->
                        <div class="form-group row mg-b-0">
                          <label class="col-sm-3 form-control-label">Postal Code:</label>
                          <div class="col-sm-9 col-xl-8 mg-t-10 mg-sm-t-0">
                            <input class="form-control" name="Save_PostalCode" placeholder="Enter location" type="text" [(ngModel)]="arrSaveProfileInfo.Save_PostalCode">
                          </div>
                        </div>
                        <div class="form-group row mg-b-0">
                          <label class="col-sm-3 form-control-label">Mobile:</label>
                          <div class="col-sm-9 col-xl-8 mg-t-10 mg-sm-t-0">
                            <input class="form-control" name="Save_Mobile" placeholder="Enter location" type="text" [(ngModel)]="arrSaveProfileInfo.Save_Mobile">
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-md-4">
                            <button type="button" (click)="CancelEditProfile()" class="btn btn-danger">
                              Cancel
                            </button>
                            <button type="submit"  class="btn btn-success">
                              Save
                            </button>
                          </div>
                        </div>
                        <!-- form-group -->
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>