<div class="content-wrapper">
 
  <div class="page-heading">
   User Profile   
  </div>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
          <div class="box-body profile-box">
            <div class="col-md-4 col-lg-3">
              <div class="profile-pic-box">
                <label class="content-left-label">Your Profile Photo
                  <a *ngIf="!isShowUpload" title="Edit Photo" (click)="ShowProfileUpload()" class="btn-edit">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                  <a *ngIf="isShowUpload" title="Cancel" (click)="HideProfileUpload()" class="btn-close">
                    <span class="glyphicon glyphicon-remove"></span>
                  </a>
                </label>
                <figure class="edit-profile-photo" style="height:300px">
                  <img width="100%" height="100%" src="{{photoUrl}}" class="img-fluid" alt="">
                  <figcaption class="show-upload" *ngIf="isShowUpload">
                    <div class="upload-btn-wrapper">
                      <button class="btn btn-primary btn-black">Upload Photo</button>
                      <input type="file" (change)="readPhotoUrl($event)" class="upload">
                    </div>
                    <!-- <a (click)="EditProfileData()" class="btn btn-primary btn-black">Edit Photo</a> -->
                  </figcaption>
                </figure>
                <div *ngIf="isPhotoChange" class="content-left-label" style="padding:4px;">
                  <button type="button" class="btn btn-default btn-sm" (click)="CancelProfileUpload()">
                    Cancel
                  </button>
                  <button type="submit" style="float:right" class="btn btn-default btn-sm" (click)="SaveProfileUpload()">
                    Save
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-8 col-lg-9 mg-t-30 mg-md-t-0" *ngIf="arrEditProfileInfo.length>0">
              <form [formGroup]="profileForm" class="form-horizontal" (ngSubmit)="SaveProfileData(profileForm.value)">
                <div class="form-body">
                 
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      Personal Information
                      <a *ngIf="!isEditMode" title="Edit Profile" (click)="EditProfileData()" class="btn-edit">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                    </div>
                    <div *ngIf="!isEditMode" class="panel-body">
                      <div class="edit-profile-form">
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">First Name:</label>
                          <label class="col-sm-4 form-control-label">{{arrEditProfileInfo[0].firstName}}
                          </label>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Last Name:</label>
                          <label class="col-sm-4 form-control-label">{{arrEditProfileInfo[0].lastName}}
                          </label>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Email:
                          </label>
                          <label class="col-sm-4 form-control-label">{{arrEditProfileInfo[0].email}}
                          </label>
                        </div>
                        <!-- form-group -->
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Organisation:</label>
                          <label class="col-sm-4 form-control-label">{{arrEditProfileInfo[0].organization}}
                          </label>
                        </div>
                        <!-- form-group -->
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Address Line 1:</label>
                          <label class="col-sm-4 form-control-label">{{arrEditProfileInfo[0].address.address1}}
                          </label>
                        </div>
                        <!-- form-group -->
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Address Line 2:</label>
                          <label class="col-sm-4 form-control-label">{{arrEditProfileInfo[0].address.address2}}
                          </label>
                        </div>
                        <!-- form-group -->
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Postal Code:</label>
                          <label class="col-sm-4 form-control-label">{{arrEditProfileInfo[0].address.zipCode}}
                          </label>
                        </div>
                        <!-- form-group -->
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Mobile:</label>
                          <label class="col-sm-4 form-control-label">{{arrEditProfileInfo[0].mobileNumber}}
                          </label>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="isEditMode" class="panel-body">
                      <div class="edit-profile-form">
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">First Name:</label>
                          <div class="col-sm-4 col-xl-6 mg-t-10 mg-sm-t-0" [class.has-error]="profileForm.get('firstName').invalid &&  profileForm.get('firstName').touched">
                            <input class="form-control" disabled formControlName="firstName" placeholder="Enter firstname" type="text">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Last Name:</label>
                          <div class="col-sm-4 col-xl-6 mg-t-10 mg-sm-t-0" [class.has-error]="profileForm.get('lastName').invalid &&  profileForm.get('lastName').touched">
                            <input class="form-control" disabled formControlName="lastName" placeholder="Enter firstname" type="text">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Email:</label>
                          <div class="col-sm-4 col-xl-6 mg-t-10 mg-sm-t-0" [class.has-error]="profileForm.get('email').invalid &&  profileForm.get('email').touched">
                            <input class="form-control" disabled formControlName="email" placeholder="Enter email" type="text">
                          </div>
                        </div>
                        <!-- form-group -->
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Organisation:</label>
                          <div class="col-sm-4 col-xl-6 mg-t-10 mg-sm-t-0" [class.has-error]="profileForm.get('organization').invalid &&  profileForm.get('organization').touched">
                            <input class="form-control" name="Save_Organisation" formControlName="organization" placeholder="Enter location" type="text">
                          </div>
                        </div>
                        <!-- form-group -->
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Address Line 1:</label>
                          <div class="col-sm-4 col-xl-6 mg-t-10 mg-sm-t-0" [class.has-error]="profileForm.get('addressLine1').invalid &&  profileForm.get('addressLine1').touched">
                            <textarea class="form-control" name="Save_AddressLine1" formControlName="addressLine1" placeholder="Enter some description of yourself"
                              rows="3"></textarea>
                          </div>
                        </div>
                        <!-- form-group -->
                        <div class="form-group row mg-b-0">
                          <label class="col-sm-3 form-control-label">Address Line 2:</label>
                          <div class="col-sm-4 col-xl-8 mg-t-10 mg-sm-t-0" [class.has-error]="profileForm.get('addressLine2').invalid &&  profileForm.get('addressLine2').touched">
                            <textarea class="form-control" name="Save_AddressLine2" formControlName="addressLine2" placeholder="Enter some description of yourself"
                              rows="3"></textarea>
                          </div>
                        </div>
                        <!-- form-group -->
                        <div class="form-group row mg-b-0">
                          <label class="col-sm-3 form-control-label">Postal Code:</label>
                          <div class="col-sm-4 col-xl-8 mg-t-10 mg-sm-t-0" [class.has-error]="profileForm.get('postcode').invalid &&  profileForm.get('postcode').touched">
                            <input class="form-control" name="Save_PostalCode" formControlName="postcode" placeholder="Enter location" type="text">
                          </div>
                        </div>
                        <div class="form-group row mg-b-0">
                          <label class="col-sm-3 form-control-label">Mobile:</label>
                          <div class="col-sm-4 col-xl-8 mg-t-10 mg-sm-t-0" [class.has-error]="profileForm.get('mobileNumber').invalid &&  profileForm.get('mobileNumber').touched">
                            <input class="form-control" name="Save_Mobile" formControlName="mobileNumber" placeholder="Enter location" type="text">
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-md-4">
                            <button type="button" (click)="CancelEditProfile()" class="btn btn-default">
                              Cancel
                            </button>
                            <button type="submit" [disabled]="profileForm.invalid" class="btn btn-primary btn-black">
                              Save
                            </button>
                          </div>
                        </div>
                        <!-- form-group -->
                      </div>
                    </div>
                  </div>

                </div>
              </form>
            </div>

          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>