.content-left-label {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background-color: #222d32;
    color: #fff;
    padding: 10px 15px;
    display: block;
    margin-bottom: 0px;
  }

  .panel-heading {
    background-color: #222d32;
  }

  .panel-primary {
    border-color: #222d32;
  }

  .btn-black {
    background-color: #222d32;
  }

  .profile-pic-box {
    border: 1px solid #222d32;
    border-radius: 3px;
  }