.custom-field {
    padding-left: 50px;
}

.table-custom {
    padding: 0px 50px 0px 62px;
}

.top-right {
    padding-left:56px;
}

.top-right-back {
    padding-left: 140px;
}

.footer-right {
    padding-left: 55px;
}

.footer-right-back {
    padding-left: 140px;
}