

 <div class="modal fade in" id="editForInstitutionModal">
      <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 5px;">
          <div class="modal-header modal-header-addedit">
            <button type="button" class="close close-addedit" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Default Modal</h4>
          </div>
          <div class="modal-body">
              <div class="row">
            <!-- <div class="col-md-12"> -->
            <input type="hidden" name="base_url" id="base_url" value="http://legalfriend.infinityfreeapp.com/">
            <div>
              <div class="box-body widget-content">
                <form  [formGroup]="editForInstitutionForm" #registerForm="ngForm" class="form-horizontal" (ngSubmit)="submitEditinstitutionUser(editForInstitutionForm.value)">
                  <div class="form-body">
                    <div class="tab-content">
                      <div class="tab-pane active">

                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Compliance:
                            
                          </label>
                          <div class="col-md-9">
                            <input type="checkbox" name="Compliance" id="Compliance" placeholder="Compliance" value="1">
                          </div>
                        </div>
                         <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Recourse:
                           
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('recourse').invalid &&  editForInstitutionForm.get('recourse').touched">
                            <input class="form-control" placeholder="recourse" formControlName="recourse">
                          </div>
                         
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Legal Case ID:
                            <em class="astrick">*</em>
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('legalcaseId').invalid &&  editForInstitutionForm.get('legalcaseId').touched">
                            <input class="form-control" placeholder="Legal Case ID" formControlName="legalcaseId">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('legalcaseId').invalid &&  editForInstitutionForm.get('legalcaseId').touched">
                            <small class="text-danger">
                              <span>Legal Case ID is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Region:
                           
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('region').invalid &&  editForInstitutionForm.get('region').touched">
                            <input class="form-control" placeholder="Region" formControlName="region">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('region').invalid &&  editForInstitutionForm.get('region').touched">
                            <small class="text-danger">
                              <span>Region is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">State:
                            <em class="astrick">*</em>
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('state').invalid &&  editForInstitutionForm.get('state').touched">
                            <input class="form-control" placeholder="State" formControlName="state">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('state').invalid &&  editForInstitutionForm.get('state').touched">
                            <small class="text-danger">
                              <span>State is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Location:
                           <em class="astrick">*</em>
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('location').invalid &&  editForInstitutionForm.get('location').touched">
                            <input class="form-control" placeholder="Location" formControlName="location">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('location').invalid &&  editForInstitutionForm.get('location').touched">
                            <small class="text-danger">
                              <span>Location is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Product:
                            
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('product').invalid &&  editForInstitutionForm.get('product').touched">
                            <input class="form-control" placeholder="Product" formControlName="product">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('product').invalid &&  editForInstitutionForm.get('product').touched">
                            <small class="text-danger">
                              <span>Product is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Product Group:
                           
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('productgroup').invalid &&  editForInstitutionForm.get('productgroup').touched">
                            <input class="form-control" placeholder="Product Group" formControlName="productgroup">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('productgroup').invalid &&  editForInstitutionForm.get('productgroup').touched">
                            <small class="text-danger">
                              <span>Product Group is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Loan Account Number:
                          
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('loanaccountnumber').invalid &&  editForInstitutionForm.get('loanaccountnumber').touched">
                            <input class="form-control" placeholder="Loan Account Number" formControlName="loanaccountnumber">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('loanaccountnumber').invalid &&  editForInstitutionForm.get('loanaccountnumber').touched">
                            <small class="text-danger">
                              <span>Loan Account Number is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Customer Name:
                           <em class="astrick">*</em>
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('customername').invalid &&  editForInstitutionForm.get('customername').touched">
                            <input class="form-control" placeholder="Customer Name" formControlName="customername">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('customername').invalid &&  editForInstitutionForm.get('customername').touched">
                            <small class="text-danger">
                              <span>Customer Name is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">POS as on filing date:
                          
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('posasofillingdate').invalid &&  editForInstitutionForm.get('posasofillingdate').touched">
                            <input class="form-control" placeholder="POS as on filing date" formControlName="posasofillingdate">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('posasofillingdate').invalid &&  editForInstitutionForm.get('posasofillingdate').touched">
                            <small class="text-danger">
                              <span>POS as on filing date is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">DPD as on filing date:
                           
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('dpdasonfillingdate').invalid &&  editForInstitutionForm.get('dpdasonfillingdate').touched">
                            <input class="form-control" placeholder="DPD as on filing date" formControlName="dpdasonfillingdate">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('dpdasonfillingdate').invalid &&  editForInstitutionForm.get('dpdasonfillingdate').touched">
                            <small class="text-danger">
                              <span>DPD as on filing date is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">NPA Stage as on filing date:
                          
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('npastageasonfillingdate').invalid &&  editForInstitutionForm.get('npastageasonfillingdate').touched">
                            <input class="form-control" placeholder="NPA Stage as on filing date" formControlName="npastageasonfillingdate">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('npastageasonfillingdate').invalid &&  editForInstitutionForm.get('npastageasonfillingdate').touched">
                            <small class="text-danger">
                              <span>NPA Stage as on filing date is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Date Of Filing Case:
                            <em class="astrick">*</em>
                          </label>
                          <div class="col-md-9">
                            <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                                <input type="text" tabindex="14" id="dateof_filling_case" name="dateof_filling_case" readonly="" placeholder="yyyy-mm-dd" class="form-control"
                                    size="10" value="2017-12-22" formControlName="dateoffillingcase">
                                <div class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </div>
                            </div>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Case Type:
                           
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('casetype').invalid &&  editForInstitutionForm.get('casetype').touched">
                            <input class="form-control" placeholder="Case Type" formControlName="casetype">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('casetype').invalid &&  editForInstitutionForm.get('casetype').touched">
                            <small class="text-danger">
                              <span>Case Type is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Court Case Id:
                          
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('courtcaseid').invalid &&  editForInstitutionForm.get('courtcaseid').touched">
                            <input class="form-control" placeholder="Court Case Id" formControlName="courtcaseid">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('courtcaseid').invalid &&  editForInstitutionForm.get('courtcaseid').touched">
                            <small class="text-danger">
                              <span>Court Case Id is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Court Name:
                            <em class="astrick">*</em>
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('courtname').invalid &&  editForInstitutionForm.get('courtname').touched">
                            <input class="form-control" placeholder="Court Name" formControlName="courtname">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('courtname').invalid &&  editForInstitutionForm.get('courtname').touched">
                            <small class="text-danger">
                              <span>Court Name is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Court Place:
                            <em class="astrick">*</em>
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('courtplace').invalid &&  editForInstitutionForm.get('courtplace').touched">
                            <input class="form-control" placeholder="Court Place" formControlName="courtplace">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('courtplace').invalid &&  editForInstitutionForm.get('courtplace').touched">
                            <small class="text-danger">
                              <span>Court Place is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Amount involved:
                           
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('amountinvolved').invalid &&  editForInstitutionForm.get('amountinvolved').touched">
                            <input class="form-control" placeholder="Amount involved" formControlName="amountinvolved">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('amountinvolved').invalid &&  editForInstitutionForm.get('amountinvolved').touched">
                            <small class="text-danger">
                              <span>Amount involved is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Lawyer Name:
                           
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('lawyername').invalid &&  editForInstitutionForm.get('lawyername').touched">
                            <input class="form-control" placeholder="Lawyer Name" formControlName="lawyername">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('lawyername').invalid &&  editForInstitutionForm.get('lawyername').touched">
                            <small class="text-danger">
                              <span>Lawyer Name is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Case Stage:
                           
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('casestage').invalid &&  editForInstitutionForm.get('casestage').touched">
                            <input class="form-control" placeholder="Case Stage" formControlName="casestage">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('casestage').invalid &&  editForInstitutionForm.get('casestage').touched">
                            <small class="text-danger">
                              <span>Case Stage is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Stage in Court:
                           
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('stageincourt').invalid &&  editForInstitutionForm.get('stageincourt').touched">
                            <input class="form-control" placeholder="Stage in Court" formControlName="stageincourt">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('stageincourt').invalid &&  editForInstitutionForm.get('stageincourt').touched">
                            <small class="text-danger">
                              <span>Stage in Court is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Previous Hearing Date:
                          
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('previoushearingdate').invalid &&  editForInstitutionForm.get('previoushearingdate').touched">
                            <input class="form-control" placeholder="Previous Hearing Date" formControlName="previoushearingdate">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('previoushearingdate').invalid &&  editForInstitutionForm.get('previoushearingdate').touched">
                            <small class="text-danger">
                              <span>Previous Hearing Date is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Next Hearing date:
                            <em class="astrick">*</em>
                          </label>
                         <div class="col-md-9">
                            <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                                <input type="text" tabindex="14" id="next_hearing_date" name="dateof_filling_case" readonly="" placeholder="yyyy-mm-dd" class="form-control"
                                    size="10" value="2017-12-22" formControlName="nexthearingdate">
                                <div class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </div>
                            </div>
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('nexthearingdate').invalid &&  editForInstitutionForm.get('nexthearingdate').touched">
                            <small class="text-danger">
                              <span>Next Hearing date is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">NDOH Null Reason:
                         
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('ndohnullreasong').invalid &&  editForInstitutionForm.get('ndohnullreasong').touched">
                            <input class="form-control" placeholder="NDOH Null Reason" formControlName="ndohnullreasong">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('ndohnullreasong').invalid &&  editForInstitutionForm.get('ndohnullreasong').touched">
                            <small class="text-danger">
                              <span>NDOH Null Reason is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Order Received date:
                            <em class="astrick">*</em>
                          </label>
                          <div class="col-md-9">
                            <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                                <input type="text" tabindex="14" id="order_received_date" name="Order_received_date" readonly="" placeholder="yyyy-mm-dd" class="form-control"
                                    size="10" value="2017-12-22" formControlName="OrderreceivedDate">
                                <div class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </div>
                            </div>
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('orderreceiveddate').invalid &&  editForInstitutionForm.get('orderreceiveddate').touched">
                            <small class="text-danger">
                              <span>Order Received date is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Receiver Name:
                           
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('orderreceiveddate').invalid &&  editForInstitutionForm.get('orderreceiveddate').touched">
                            <input class="form-control" placeholder="Receiver Name" formControlName="orderreceiveddate">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('orderreceiveddate').invalid &&  editForInstitutionForm.get('orderreceiveddate').touched">
                            <small class="text-danger">
                              <span>Receiver Name is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">RO Status:
                            
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('rostatus').invalid &&  editForInstitutionForm.get('rostatus').touched">
                            <input class="form-control" placeholder="RO Status" formControlName="rostatus">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('rostatus').invalid &&  editForInstitutionForm.get('rostatus').touched">
                            <small class="text-danger">
                              <span>RO Status is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">RO Execution date:
                           
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('roexecutiondate').invalid &&  editForInstitutionForm.get('roexecutiondate').touched">
                            <input class="form-control" placeholder="RO Execution date" formControlName="roexecutiondate">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('roexecutiondate').invalid &&  editForInstitutionForm.get('roexecutiondate').touched">
                            <small class="text-danger">
                              <span>RO Execution date is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Arbitration Initiated:
                            
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('arbitrationinitiated').invalid &&  editForInstitutionForm.get('arbitrationinitiated').touched">
                            <input class="form-control" placeholder="Arbitration Initiated" formControlName="arbitrationinitiated">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('arbitrationinitiated').invalid &&  editForInstitutionForm.get('arbitrationinitiated').touched">
                            <small class="text-danger">
                              <span>Arbitration Initiated is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Arbitration Case ID:
                           
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('arbitrationcaseid').invalid &&  editForInstitutionForm.get('arbitrationcaseid').touched">
                            <input class="form-control" placeholder="Arbitration Case ID" formControlName="arbitrationcaseid">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('arbitrationcaseid').invalid &&  editForInstitutionForm.get('arbitrationcaseid').touched">
                            <small class="text-danger">
                              <span>Arbitration Case ID is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Repo Flag:
                            
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('repoflag').invalid &&  editForInstitutionForm.get('repoflag').touched">
                            <input class="form-control" placeholder="Repo Flag" formControlName="repoflag">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('repoflag').invalid &&  editForInstitutionForm.get('repoflag').touched">
                            <small class="text-danger">
                              <span>Repo Flag is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Remarks:
                            <em class="astrick">*</em>
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('remark').invalid &&  editForInstitutionForm.get('remark').touched">
                            <input class="form-control" placeholder="Remarks" formControlName="remark">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('remark').invalid &&  editForInstitutionForm.get('remark').touched">
                            <small class="text-danger">
                              <span>Remarks is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Legal Manager:
                           
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('legalmanager').invalid &&  editForInstitutionForm.get('legalmanager').touched">
                            <input class="form-control" placeholder="Legal Manager" formControlName="legalmanager">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('legalmanager').invalid &&  editForInstitutionForm.get('legalmanager').touched">
                            <small class="text-danger">
                              <span>Legal Manager is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Case Status:
                            <em class="astrick">*</em>
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('casestatus').invalid &&  editForInstitutionForm.get('casestatus').touched">
                            <input class="form-control" placeholder="Case Status" formControlName="casestatus">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('casestatus').invalid &&  editForInstitutionForm.get('casestatus').touched">
                            <small class="text-danger">
                              <span>Case Status is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Closure Date:
                            
                          </label>
                          <div class="col-md-9">
                            <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                                <input type="text" tabindex="14" id="closure_date" name="closure_date" readonly="" placeholder="yyyy-mm-dd" class="form-control" size="10" value="2017-12-22" formControlName="closuredate">
                                <div class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </div>
                            </div>
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('closuredate').invalid &&  editForInstitutionForm.get('closuredate').touched">
                            <small class="text-danger">
                              <span>Closure Date is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Closure Reporting Date:
                            
                          </label>
                         <div class="col-md-9">
                            <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                                <input type="text" tabindex="14" id="closure-reporting-date" name="closure-reporting-date" readonly="" placeholder="yyyy-mm-dd" class="form-control"
                                    size="10" value="2017-12-22" formControlName="closurereportingdate">
                                <div class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </div>
                            </div>
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('closuredate').invalid &&  editForInstitutionForm.get('closuredate').touched">
                            <small class="text-danger">
                              <span>Closure Reporting Date is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Total Amt Recovered:
                            
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('totalamountrecovered').invalid &&  editForInstitutionForm.get('totalamountrecovered').touched">
                            <input class="form-control" placeholder="Total Amt Recovered" formControlName="totalamountrecovered">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('totalamountrecovered').invalid &&  editForInstitutionForm.get('totalamountrecovered').touched">
                            <small class="text-danger">
                              <span>Total Amt Recovered is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Account Status:
                           
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('accountstatus').invalid &&  editForInstitutionForm.get('accountstatus').touched">
                            <input class="form-control" placeholder="Account Status" formControlName="accountstatus">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('accountstatus').invalid &&  editForInstitutionForm.get('accountstatus').touched">
                            <small class="text-danger">
                              <span>Account Status is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Case Filed Against:
                           
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('casefiledagainst').invalid &&  editForInstitutionForm.get('casefiledagainst').touched">
                            <input class="form-control" placeholder="Case Filed Against" formControlName="casefiledagainst">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('casefiledagainst').invalid &&  editForInstitutionForm.get('casefiledagainst').touched">
                            <small class="text-danger">
                              <span>Case Filed Against is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">POS as on current system Date:
                           
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('posoncurrentdate').invalid &&  editForInstitutionForm.get('posoncurrentdate').touched">
                            <input class="form-control" placeholder="POS as on current system Date" formControlName="posoncurrentdate">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('posoncurrentdate').invalid &&  editForInstitutionForm.get('posoncurrentdate').touched">
                            <small class="text-danger">
                              <span>POS as on current system Date is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">DPD as on current system date:
                          
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('dpdoncurrentdate').invalid &&  editForInstitutionForm.get('dpdoncurrentdate').touched">
                            <input class="form-control" placeholder="DPD as on current system date" formControlName="dpdoncurrentdate">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('dpdoncurrentdate').invalid &&  editForInstitutionForm.get('dpdoncurrentdate').touched">
                            <small class="text-danger">
                              <span>DPD as on current system date is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">NPA Stage as on current system date:
                            
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('apastagedate').invalid &&  editForInstitutionForm.get('apastagedate').touched">
                            <input class="form-control" placeholder="NPA Stage as on current system date" formControlName="apastagedate">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('apastagedate').invalid &&  editForInstitutionForm.get('apastagedate').touched">
                            <small class="text-danger">
                              <span>NPA Stage as on current system date is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Case Criticality Level:
                            
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('casecriticalitylevel').invalid &&  editForInstitutionForm.get('casecriticalitylevel').touched">
                            <input class="form-control" placeholder="Case Criticality Level" formControlName="casecriticalitylevel">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('casecriticalitylevel').invalid &&  editForInstitutionForm.get('casecriticalitylevel').touched">
                            <small class="text-danger">
                              <span>Case Criticality Level is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Type:
                          
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('type').invalid &&  editForInstitutionForm.get('type').touched">
                            <input class="form-control" placeholder="Type" formControlName="type">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('type').invalid &&  editForInstitutionForm.get('type').touched">
                            <small class="text-danger">
                              <span>Type is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">ParentID:
                          
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('parentid').invalid &&  editForInstitutionForm.get('parentid').touched">
                            <input class="form-control" placeholder="ParentID" formControlName="parentid">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('parentid').invalid &&  editForInstitutionForm.get('parentid').touched">
                            <small class="text-danger">
                              <span>ParentID is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Child Case:
                          
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('childcase').invalid &&  editForInstitutionForm.get('childcase').touched">
                            <input class="form-control" placeholder="Child Case" formControlName="childcase">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('childcase').invalid &&  editForInstitutionForm.get('childcase').touched">
                            <small class="text-danger">
                              <span>Child Case is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Generated By:
                           
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('generatedby').invalid &&  editForInstitutionForm.get('generatedby').touched">
                            <input class="form-control" placeholder="Generated By" formControlName="generatedby">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('generatedby').invalid &&  editForInstitutionForm.get('generatedby').touched">
                            <small class="text-danger">
                              <span>Generated By is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Upload Document:
                          
                          </label>
                          <div class="col-md-9">
                              <input type="file" name="upload_document" id="upload_document" class="form-control" formControlName="uploaddocument">
                            </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('uploaddocument').invalid &&  editForInstitutionForm.get('uploaddocument').touched">
                            <small class="text-danger">
                              <span>Upload Document is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Ground for closing file:
                           
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('groundforclosingdate').invalid &&  editForInstitutionForm.get('groundforclosingdate').touched">
                            <input class="form-control" placeholder="Ground for closing file" formControlName="groundforclosingdate">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('groundforclosingdate').invalid &&  editForInstitutionForm.get('groundforclosingdate').touched">
                            <small class="text-danger">
                              <span>Ground for closing file is required.</span>
                            </small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Completion Date:
                           
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('disposedfileno').invalid &&  editForInstitutionForm.get('completiondate').touched">
                            <input class="form-control" placeholder="Completion Date" formControlName="completiondate">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('completiondate').invalid &&  editForInstitutionForm.get('completiondate').touched">
                            <small class="text-danger">
                              <span>Completion Date is required.</span>
                            </small>
                          </div>
                        </div>
                         <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Disposed off File No:
                           
                          </label>
                          <div class="col-md-9" [class.has-error]="editForInstitutionForm.get('disposedfileno').invalid &&  editForInstitutionForm.get('disposedfileno').touched">
                            <input class="form-control" placeholder="Disposed off File No" formControlName="disposedfileno">
                          </div>
                          <div class="col-sm-9 valodation-padding" *ngIf="editForInstitutionForm.get('disposedfileno').invalid &&  editForInstitutionForm.get('disposedfileno').touched">
                            <small class="text-danger">
                              <span>CDisposed off File No is required.</span>
                            </small>
                          </div>
                        </div>
                    <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                    <input type="submit" [disabled]="editForInstitutionForm.invalid" class="btn btn-modal-addedit" value="Save Changes">
                    </div>
                      </div>
                    </div>
                  </div>
                </form>
          </div>
          
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>