<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Districts
      <!-- <small>advanced tables</small> -->
    </h1>
    <!-- <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Tables</a></li>
      <li class="active">Data tables</li>
    </ol> -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        
        <!-- /.box -->

        <div class="box">
          <!-- <div class="box-header">
            <h3 class="box-title">Data Table With Full Features</h3>
          </div> -->
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>District</th>
                <th>Action</th>
               
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of arr; let i=index" (dblclick)="showEditModal(item)" data-target="#editDistrictMasterModal">
                <td>{{item.District}}</td>
                <td><a   title="Edit"><i class="fa fa-edit"></i></a></td>
              
              </tr>
              
              
              </tbody>
              <!-- <tfoot>
              <tr>
                <th>Rendering engine</th>
                <th>Browser</th>
                
              </tr>
              </tfoot> -->
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
  <div class="favicon">
      <div class="tooltip bg-black text-white font-size-12 padding-5 border-radius-3 fw-700">
        <span class="tooltip-text">Add District</span>
      </div>
      <a>
        <i class="fa fa-plus" type="button" data-toggle="modal" data-target="#addDistrictMasterModal"></i>
      </a>
    </div>
  <app-add-district></app-add-district>
  <app-edit-district [editDistrictMasterForm]="editDistrictMasterForm"></app-edit-district>
</div>