<div id="divContentInstitution" class="content-wrapper">
  <!-- Content Header (Page header) -->
  <!-- Main content -->
  <div class="page-heading">
    Institutional Clients
  </div>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">

        <!-- /.box -->

        <div class="box">
          <!-- <div class="box-header">
            <h3 class="box-title">Data Table With Full Features</h3>
          </div> -->
          <!-- /.box-header -->
          <div class="box-body">
            <div>
              <div class="row table-toolbar">
                <div class="col-sm-2 heading"></div>
                <div class="col-sm-2" *ngIf="arInstitution.length>0">
                  <select tabindex="3" class="form-control select2me input-sm" (change)="changeInstitution()" [(ngModel)]="InstitutionValue">
                    <!-- <option value="">Select Institution</option> -->
                    <option *ngFor="let option of arInstitution" [ngValue]="option">
                      {{ option.institutionName }}
                    </option>
                  </select>
                </div>

                <div class="col-sm-2">
                  <div *ngIf="arRecourse.length>0">
                    <app-custom-single-select [data]="arRecourse" [config]="recourseConfig" (valueChanged)="changeRecourse($event)"></app-custom-single-select>
                  </div>
                </div>
                <div class="col-sm-2">
                  <img src="assets/dist/img/filter.png" title="Filter" data-toggle="modal" data-target="#filterForInstitutionModal">
                </div>
                <div class="col-sm-2">
                  <label class="custom-label">Show
                    <select class="input-sm" id="ddlLengthMenu">
                    </select> rows
                  </label>
                </div>
                <div class="col-sm-2">
                  <input type="text" id="txtSearch" class="input-sm custom-search" placeholder="Search...">
                </div>
              </div>
            </div>
            <table id="example1" class="table table-bordered table-hover" on-mouseleave="hideCalendar()">
              <thead>
                <tr>
                  <th class="sorting_asc" tabindex="0" aria-controls="search-user-case" rowspan="1" colspan="1" aria-label=": activate to sort column descending"
                    style="width: 35px;" aria-sort="ascending">
                    <input type="checkbox" id="selectAlluserrep">
                  </th>

                  <th>Case ID</th>
                  <th>Stage</th>
                  <th>Court Case Id</th>
                  <th>Legal Case Id</th>
                  <th>Last Hearing Date</th>
                  <th>Next Hearing Date</th>
                  <th>Loan Account No</th>
                  <th>Action</th>
                  <th style="display: none;">Recourse</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of arr; let i = index" data-toggle="modal" on-mouseover="OnMouseHover(i)" (dblclick)="showEditInstitutionModal()">
                  <th class="sorting_asc" tabindex="0" aria-controls="search-user-case" rowspan="1" colspan="1" aria-label=": activate to sort column descending"
                    style="width: 35px;" aria-sort="ascending">
                    <input type="checkbox" #rowChecked (change)="checkboxChange(rowChecked.checked)">
                  </th>

                  <td>{{item.caseId}}</td>
                  <td>{{item.caseStage}}</td>
                  <td>{{item.courtCaseId}}</td> 
                  <td>{{item.legalCaseId}}</td>
                  <td>{{item.previousHearingDate | date:'dd-MM-yyyy'}}</td>
                  <td style="position: relative;">
                    {{item.nextHearingDate | date:'dd-MM-yyyy'}}
                    <div class="divNewHire input-group date" style="position:absolute; right: 0;" data-provide="datepicker" data-date-format="DD-MM-YYYY">
                      <input style="display:none" type="text" tabindex="14" readonly="" placeholder="yyyy-mm-dd"
                        class="form-control newHiringDate" size="10">
                      <div class="input-group-addon" [ngClass]="{'hide': i!=hoveredIndex}" style="background: none; border: none;" (click)="ShowCalendar(item)">
                        <span class="fa fa-calendar"></span>
                      </div>
                    </div>
                  </td>
                  <td>{{item.loanAccountNumber}}</td>
                  <td>
                    <a routerLink="/admin/institution/editforinstitution/{{item.institutionId}}/{{item.id}}">
                      <i class="fa fa-edit"></i>
                    </a>
                    <a>
                      <i class="fa fa-history"></i>
                    </a>

                  </td>
                  <td style="display: none;">{{item.recourse}}</td>
                </tr>
                <tr *ngIf="!arr || arr.length == 0">
                  <td colspan="9">No Record Found...!</td>
                </tr>
              </tbody>

            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <ng-container *ngIf="checkboxCounter>0">
          <div class="export1">
            <img src="/assets/dist/img/download1.png" height="40">
          </div>

          <div class="export2">
            <img src="/assets/dist/img/download2.png" height="40">
          </div>
        </ng-container>
      </div>
      <!-- /.col -->
    </div>

    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>



<div class="favicon" (click)="openPopup()">
  <div class="tooltip bg-black text-white font-size-12 padding-5 border-radius-3 fw-700">
    <span class="tooltip-text">Import Cases</span>
  </div>
  <a>
    <i class="fa fa-plus" type="button" data-toggle="modal" data-target="#addForInstitutionModal"></i>
  </a>
</div>
<add-for-institution-modal [Institution]="InstitutionValue"></add-for-institution-modal>


<!-- Filter Case Starts -->
<div class="modal fade" style="z-index: 2001;" id="filterForInstitutionModal">
  <div class="modal-dialog caseModalSearch">
    <div class="modal-content" style="border-radius: 5px;">
      <div class="modal-header">

        <button type="button" id="closebtnFilter" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Filter </h4>
      </div>
      <div style="width:120px;height:10%;background-color:black;"></div>
      <div style="margin-top: -15px; margin-bottom: -15px; background-color: #eee;" class="modal-body">

        <div class="row">

          <div class="col-md-12">
            <div class="col-md-6">
              <select class="form-control" (change)="filterTypeChange($event.target.value)">
                <option *ngFor="let item of arFilterType" [value]="item.value">{{item.text}}</option>
              </select>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">&nbsp;</div>
        </div>

        <div class="row" [style.display]="!showDateFilter? 'none' : null">
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control pull-right" id="txtFromToDate" placeholder="From To date">
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">&nbsp;</div>
        </div>
        <div style="text-align: right;margin-right: 27px;">
          <button type="button" id="btnReset" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" id="btnSearch" (click)="search()" data-dismiss="modal" class="btn btn-modal-addedit">Search</button>
        </div>

      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- Filter case ends -->