.export1 {
    right: 0px;
    bottom: 150px;
    margin-right: 58px;
    position: fixed;
    margin-top: -172px;
    z-index: 1000;
}

.export2 {
    right: 0px;
    bottom: 102px;
    margin-right: 58px;
    position: fixed;
    margin-top: -172px;
    z-index: 1000;
}