.export1 {
    right: 0;
    margin-right: 58px;
    position: absolute;
    margin-top: -172px;
    z-index: 1000;
}

.export2 {
    right: 0;
    margin-right: 58px;
    position: absolute;
    margin-top: -131px;
    z-index: 1000;
}