<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      For Institution
      <!-- <small>advanced tables</small> -->
    </h1>
    <!-- <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Tables</a></li>
      <li class="active">Data tables</li>
    </ol> -->
  </section>
  <div class="modal fade in" id="modal-default" style="display: none; padding-right: 17px;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Default Modal</h4>
          </div>
          <div class="modal-body">
            <p>One fine body…</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  <!-- Main content -->
  <section class="content">
      <div class="row">
        <div class="col-xs-12">
          
          <!-- /.box -->
  
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Data Table With Full Features</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th class="sorting_asc" tabindex="0" aria-controls="search-user-case" rowspan="1" colspan="1" aria-label=": activate to sort column descending" style="width: 35px;" aria-sort="ascending"><input type="checkbox" id="selectAlluserrep"></th>
                   
                  <th>Case ID</th>
                  <th>Stage</th>
                  <th>Court Case Id</th>
                  <th>Legal Case Id</th>
                  <th>Last Hearing Date</th>
                  <th>Next Hearing Date</th>
                  <th>Loan Account No</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of arr" data-toggle="modal" (dblclick)="showEditInstitutionModal()" >
                    <th class="sorting_asc" tabindex="0" aria-controls="search-user-case" rowspan="1" colspan="1" aria-label=": activate to sort column descending" style="width: 35px;" aria-sort="ascending"><input type="checkbox" id="selectAlluserrep"></th>
                   
                  <td>{{item.CaseId}}</td>
                  <td>{{item.Stage}}</td>
                  <td>{{item.CourtCaseId}}</td>
                  <td>{{item.LegalCaseId}}</td>
                  <td>{{item.LastHearingDate}}</td>
                  <td>{{item.NextHearingDate}}</td>
                  <td>{{item.LoanAccountNo}}</td>
                  <td>
                  <a><i class="fa fa-edit"></i></a><a><i class="fa fa-history"></i></a>
                    
                  </td>
                </tr>
                </tbody>
               
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
  <!-- /.content -->
</div>

<div class="favicon">
    <div class="tooltip bg-black text-white font-size-12 padding-5 border-radius-3 fw-700">
      <span class="tooltip-text">Import Cases</span>
    </div>
    <a>
      <i class="fa fa-plus" type="button" data-toggle="modal" data-target="#addForInstitutionModal"></i>
    </a>
  </div>
  <add-for-institution-modal></add-for-institution-modal> 
  <edit-for-institution-modal></edit-for-institution-modal> 
  