<div class="content-wrapper" style="font-size: 16px;line-height: 2.428571;">
 
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
          <div class="box-body profile-box">
            <div class="col-md-12 col-lg-12 mg-t-30 mg-md-t-0">
                <!-- <form [formGroup]="referrelForm" class="form-horizontal" (ngSubmit)="sendreferrelmail(referrelForm.value)"> -->
                <div class="form-body">
                  <ul >
                    <div class="header">You have 10 notifications</div>
                    <li>
                      <!-- inner menu: contains the actual data -->
                      <ul class="menu">
                        <li>
                          <a href="#">
                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the page and may cause design problems
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-users text-red"></i> 5 new members joined
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-user text-red"></i> You changed your username
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-users text-red"></i> 2 new members joined
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-users text-red"></i> 3 new members joined
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-users text-red"></i> 5 new members joined
                          </a>
                        </li>
                      </ul>
                    </li>
                  
                  </ul>

                </div>
              <!-- </form> -->
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>