<div class="content-wrapper" style="font-size: 16px;line-height: 2.428571;">
 
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="col-sm-4 heading">Notifications</div>
          <div class="box-body profile-box">
            <div class="col-md-12 col-lg-12 mg-t-30 mg-md-t-0">
              <form [formGroup]="notificationForm" class="form-horizontal" >
                <div class="form-body">
                    <section class="content">
                        <div class="row">
                          <div class="col-md-12">
                            <ul class="timeline">
                              <li>
                                <i class="fa fa-envelope bg-blue"></i>
                  
                                <div class="timeline-item">
                                  <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                  
                                  <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>
                  
                                  <div class="timeline-body">
                                    Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                    weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                    jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                    quora plaxo ideeli hulu weebly balihoo...
                                  </div>
                                  <!-- <div class="timeline-footer">
                                    <a class="btn btn-primary btn-xs">Read more</a>
                                    <a class="btn btn-danger btn-xs">Delete</a>
                                  </div> -->
                                </div>
                              </li>
                              <li>
                                <i class="fa fa-user bg-aqua"></i>
                  
                                <div class="timeline-item">
                                  <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
                  
                                  <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request</h3>
                                </div>
                              </li>
                              <li>
                                <i class="fa fa-comments bg-yellow"></i>
                  
                                <div class="timeline-item">
                                  <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>
                  
                                  <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>
                  
                                  <div class="timeline-body">
                                    Take me to your leader!
                                    Switzerland is small and neutral!
                                    We are more like Germany, ambitious and misunderstood!
                                  </div>
                                  <!-- <div class="timeline-footer">
                                    <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                                  </div> -->
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!-- </div> -->
                      <!-- <div>
                    </div> -->
                  </section>
                  <!-- <ul >
                    <div class="header">You have 10 notifications</div>
                    <li>
                      <ul class="menu">
                        <li>
                          <a href="#">
                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the page and may cause design problems
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-users text-red"></i> 5 new members joined
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-user text-red"></i> You changed your username
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-users text-red"></i> 2 new members joined
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-users text-red"></i> 3 new members joined
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-users text-red"></i> 5 new members joined
                          </a>
                        </li>
                      </ul>
                    </li>
                  
                  </ul> -->

                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>