<div class="content-wrapper">
  <div class="page-heading">
    Invoices
  </div>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
          <div class="box-body">
            <div>
              <div class="row table-toolbar">
                <div class="col-sm-4 heading">Invoice</div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                  <label class="custom-label">Show
                    <select class="input-sm" id="ddlLengthMenu">
                    </select> rows
                  </label>
                </div>
                <div class="col-sm-2">
                  <input type="text" id="txtSearch" class="input-sm custom-search" placeholder="Search...">
                </div>
              </div>
            </div>

            <table id="example1" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Invoice No</th>
                  <th>Date</th>
                  <th>Bank
                    <select class="role input-sm" id="ddlBank">
                      <option value="All">All</option>
                      <option *ngFor="let item of arListBanks" value="{{item.BankName}}">{{item.BankName}}</option>
                    </select>
                  </th>
                  <th style="display:none">Case Id</th>
                  <th style="display:none">Recourse</th>
                  <th style="display:none">Stage</th>
                  <th style="display:none">Amount</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of invoice" (dblclick)="showModal(item)">
                  <td>{{item.InvoiceNumber}}</td>
                  <td>{{item.BillingDate}}</td>
                  <td>{{item.Bank}}</td>
                  <td style="display:none">{{item.CaseID}}</td>
                  <td style="display:none">{{item.Recourse}}</td>
                  <td style="display:none">{{item.Stage}}</td>
                  <td style="display:none">{{item.Amount}}</td>
                  <td>
                    <a title="Edit">
                      <i class="fa fa-edit"></i>
                    </a>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="modal fade" style="z-index: 2001;" id="filterCaseModal">
      <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 5px;">
          <div class="modal-header">

            <button type="button" id="closebtnFilter" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <span style="background-color:black">axasx</span>&nbsp;
            <span style="background-color:black">axasx</span>
            <span style="background-color:black">axasx</span>
            <b>
              <h1 class="modal-title" style="text-align:right">INVOICE </h1>
            </b>
            <div style="text-align:right">
              <label style="text-align:right">Date:03/27/2018</label>
              <br />
              <label style="text-align:right">Invoice #:</label>
              <br />
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <form [formGroup]="editCaseForm1" class="form-horizontal">
              <div class="form-body">
                <div class="tab-content">
                  <div class="tab-pane active">
<table id="example2" class="table table-bordered table-hover">

    <td>
        <thead>
            <tr >
              <th>Bank</th>
              <th>CaseId</th>
              <th>Amount</th>
              <th>Total</th>
              
            </tr>
          </thead>
          <tbody>
              <tr>
             
                <td><div  [class.has-error]="editCaseForm1.get('Bank').invalid &&  editCaseForm1.get('Bank').touched">
                    <input class="form-control" style="border:dotted" placeholder="First Name" formControlName="Bank">
                  </div></td>
                <td><div [class.has-error]="editCaseForm1.get('Amount').invalid &&  editCaseForm1.get('Amount').touched">
                    <input class="form-control"  style="border:dotted" placeholder="First Name" formControlName="CaseID">
                  </div></td>
                <td><div  [class.has-error]="editCaseForm1.get('CaseID').invalid &&  editCaseForm1.get('CaseID').touched">
                    <input class="form-control"  style="border:dotted" placeholder="First Name" formControlName="Amount"> 
                    
                   </div></td>
               
                   <td><div  [class.has-error]="editCaseForm1.get('CaseID').invalid &&  editCaseForm1.get('CaseID').touched">
                      <input class="form-control"  style="border:dotted" placeholder="First Name" formControlName="Amount"> 
                      
                     </div></td>
              </tr>
            </tbody>

                   

                        <!-- <input type="checkbox" name="Compliance" id="Compliance" placeholder="Compliance" value="1" onclick="return compliance_single();"> -->
                      </table>
                      </div>
                    
                    </div>
                  </div>
                
             



            </form>


            

          </div>
          <div style="width:20px;height:10%;background-color:black;"></div>
          <div style="margin-top: -15px; margin-bottom: -15px;" class="modal-body">



          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>