<!-- <style type="text/css">
    body {
        background: #fafafa;
        font: 12px/20px Arial, Helvetica, sans-serif
    }

    .invoice-wrap {
        width: 800px;
        margin: 0 auto;
        background: #FFF;
        color: #000;
    }

    .invoice-inner {
        margin: 0 15px;
        padding: 20px 0;
    }

    .invoice-address {
        border-top: 3px double #000000;
        margin: 20px 0;
        padding-top: 25px;
    }

    .bussines-name {
        font-size: 18px;
        font-weight: 100
    }

    .invoice-name {
        font-size: 22px;
        font-weight: 700
    }

    .listing-table th {
        background-color: #e5e5e5;
        border-bottom: 1px solid #555555;
        border-top: 1px solid #555555;
        font-weight: bold;
        text-align: left;
        padding: 6px 4px
    }

    .listing-table td {
        border-bottom: 1px solid #555555;
        text-align: left;
        padding: 5px 6px;
        vertical-align: top
    }

    .total-table td {
        border-left: 1px solid #555555;
    }

    .total-row {
        background-color: #e5e5e5;
        border-bottom: 1px solid #555555;
        border-top: 1px solid #555555;
        font-weight: bold;
    }

    .row-items {
        margin: 5px 0;
        display: block
    }

    .notes-block {
        margin: 50px 0 0 0
    }

    /*tables*/

    table td {
        vertical-align: top
    }

    .items-table {
        border: 1px solid #555555;
        border-collapse: collapse;
        width: 100%
    }

    .items-table td,
    .items-table th {
        border: 1px solid #555555;
        padding: 4px 5px;
        text-align: left
    }

    .items-table th {
        background: #f5f5f5;
    }

    .totals-row .wide-cell {
        border: 1px solid #fff;
        border-right: 1px solid #555555;
        border-top: 1px solid #555555
    }

    .html2canvas-container {
        width: 3000px !important;
        height: 3000px !important;
    }
</style> -->

<div class="content-wrapper">
    <div class="page-heading">
        Invoices
    </div>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <!-- /.box -->
                <div class="box">
                    <div class="box-body" id="invoiceTable">
                        <div class="col-sm-8">
                        </div>
                        <div class="col-sm-2">
                            <!-- <button class="btn btn-default" data-dismiss="modal" id="btnResetFilter" type="button" (click)="resetTableFilter()">Reset</button>
                                    <button id="btnFilter" style="margin-left: -1px;" type="button" class="btn btn-default" data-toggle="modal" data-target="#filterCaseModal">Filter</button> -->
                            <a>
                                <img src="assets/dist/img/reset_filter.png" title="Clear Filter" (click)="clearFilters();">
                            </a>
                        </div>
                        <div class="col-sm-2 case-search">
                            <input type="text" id="txtSearch" class="input-sm custom-search" placeholder="Search..." [(ngModel)]="searchTextbox" (keyup)="searchFilter($event.target.value)">
                        </div>
                        <app-data-table #invoiceTable [tableData]="tableInputData" [tableColumns]="columns" (rowClick)="onRowClick($event)" (rowDoubleClick)="onRowDoubleClick($event)"
                            (selectedRows)="onRowSelect($event)" [showRowSelect]="rowSelect" [hoverTableRow]="hoverTableRow"
                            [actionColumnConfig]="actionColumnConfig" (actionBtnClick)="onActionBtnClick($event)" [showSearchFilter]="showSearchFilter" [moduleName]="moduleName">
                        </app-data-table>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->


        <!-- Filter Case Starts -->
        <div class="modal fade" style="z-index: 2001;" id="filterCaseModal">
            <div class="modal-dialog caseModalSearch">
                <div class="modal-content" style="border-radius: 5px;">
                    <div class="modal-header">

                        <button type="button" id="closebtnFilter" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title caseHeading">Filter </h4>

                    </div>
                    <div style="width:20px;height:10%;background-color:black;"></div>
                    <div style="margin-top: -15px; margin-bottom: -15px;" class="modal-body">
                        <div class="row caseModalRow">
                            <div class="col-md-12 col-sm-12 col-xs-12 append_bottom16">
                                <div class="form-group">
                                    <label class="dateRange">Date range:</label>

                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input style="width:560px;margin-right:575px;" type="text" class="form-control pull-right" id="txtDateFilter">
                                    </div>

                                    <!-- /.input group -->
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer FilterSearch">
                            <button type="button" id="btnReset" class="btn btn-default" data-dismiss="modal">Reset</button>
                            <button type="submit" id="btnSearch" (click)="filterTableData()" class="btn btn-default">Search</button>
                        </div>

                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>

        <div class="invoice-wrap">
            <div class="invoice-inner" id="pdfdownload" style="background-color:#ffffff;padding:20px; display:none;">
                <table border="0" cellpadding="0" cellspacing="0" class="is_logo" width="100%">
                    <tbody>
                        <tr>
                            <td align="center" valign="top">
                                <div>
                                    <div id="logoDiv">
                                        <img height="102" id="logo" src="/assets/dist/img/logo.png" style="width: 122px; height: 102px;" title="" width="122">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="invoice-address">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td align="left" valign="top" width="50%">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td valign="top">
                                                    <strong>
                                                        <label>Bill To</label>
                                                    </strong>
                                                </td>
                                                <td align="left" valign="top">
                                                    <div>
                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="left" style="padding-left: 25px;">
                                                                        <div class="reset_editor invoice-input mce-content-body" id="client_info_editor" style="width: 200px; min-height: 80px; position: relative;">
                                                                            <p>Global Logic
                                                                                <br /> Tower A, Oxygen Park, Plot No.7, Sector-144
                                                                                <br /> Noida, 201304</p>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td align="right" valign="top" width="50%">
                                    <table align="right" border="0" cellpadding="0" cellspacing="0" width="260">
                                        <tbody>
                                            <tr>
                                                <td align="right">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="right">
                                                                    <div class="reset_editor invoice-input mce-content-body" id="business_info_editor" style="width: 255px; min-height: 80px; position: relative;">
                                                                        <p style="font-size: 14pt;">Global Logic</p>
                                                                        <p>Global Logic
                                                                            <br /> Noida, 110096
                                                                            <br /> 408-273-8900
                                                                            <br /> sales@globallogic.com</p>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div style="clear: both;">&nbsp;</div>
                                    &nbsp;&nbsp;
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td align="right">
                                                    <strong>
                                                        <label style="text-align: right; font-weight: bold;">Invoice NO</label>
                                                    </strong>
                                                </td>
                                                <td align="left" style="padding-left: 20px;">44444</td>
                                            </tr>
                                            <tr>
                                                <td align="right">
                                                    <strong>
                                                        <label style="text-align: right; font-weight: bold;">Date</label>
                                                    </strong>
                                                </td>
                                                <td align="left" style="padding-left: 20px;">4/2/2018</td>
                                            </tr>
                                            <!-- /Field10-->
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <table id="tblInvoice" class="table table-condensed table-bordered table-striped items-table" style="height: 68px;">
                        <thead>
                            <tr style="height: 32px;">
                                <th style="height: 32px;">Description</th>
                                <th class="mount-header" style="height: 32px;">Quantity</th>
                                <th class="mount-header" style="height: 32px;">Unit price</th>
                                <th class="subtotal-header" style="height: 32px;">Amount</th>
                                <th width="20" style="height: 32px;">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody id="itemsInvoice">
                            <tr description="Product name" qty="1" unit_price="0" discount="0" subtotal="0" total="0" class="invoiceRow" style="height: 36px;">
                                <td style="height: 36px;">product name</td>
                                <td style="height: 36px;">10</td>
                                <td style="height: 36px;">1000</td>
                                <td style="height: 36px;">$
                                    <label class="amount">10000</label>
                                </td>
                                <td style="height: 36px;"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="notes-block">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
                <br />
                <br />
                <br /> &nbsp;
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>