
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Billing Management
      <!-- <small>advanced tables</small> -->
    </h1>
   
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">

        <!-- /.box -->

        <div class="box">
         
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example1" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Bank
                <select class="role input-sm" id="ddlBank"> 
                    <option value="All">All</option>
                    <option *ngFor="let item of arListBanks" value="{{item}}">{{item}}</option>
                    </select>
                  </th>
                  <th>Case ID
                      <select class="role input-sm" id="ddlCaseID">
                          <option value="All">All</option>
                          <option *ngFor="let item of arListCaseID" value="{{item}}">{{item}}</option>
                      </select>
                  </th>
                  <th>Recourse
                      <select class="role input-sm" id="ddlRecourse">
                          <option value="All">All</option>
                          <option *ngFor="let item of arListRecourse" value="{{item}}">{{item}}</option>
                      </select>
                  </th>
                  <th>Stage
                      <select class="role input-sm" id="ddlStage">
                          <option value="All">All</option>
                          <option *ngFor="let item of arListStage" value="{{item}}">{{item}}</option>
                      </select>
                  </th>
                  <th>Amount
                      <select class="role input-sm" id="ddlAmount">
                          <option value="All">All</option>
                          <option *ngFor="let item of arListAmount" value="{{item}}">{{item}}</option>
                      </select>
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                
                <tr *ngFor="let item of arBillingData; let i=index">
                  <td>{{i}}</td>
                  <td>{{item.Bank}}</td>
                  <td>{{item.CaseID}}</td>
                  <td>{{item.Recourse}}</td>
                  <td>{{item.Stage}}</td>
                  <td>{{item.Amount}}</td>
                  <td><a href="#">Remove</a></td>
                </tr>
                <tr *ngIf="!arBillingData || arBillingData.length==0" colspan="6">
                  No record found..!!
                </tr>
              </tbody>
              <tfoot>
                  <tr>
                     <td>#</td>
                      <th>Bank</th>
                      <th>Case ID</th>
                      <th>Recourse</th>
                      <th>Stage</th>
                      <th>Amount</th>
                      <th></th>
                    </tr>
              </tfoot>

            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>