<style>
    .billingLabel {
      font-weight: 400;
      padding-left: 10px;
      padding-top: 7px;
      width: 125px;
  }
  .billingDropdown {
      border-radius: 5px;
      width: 100px;
      height: 30px;
      padding: 5px 10px;
      background-color: #f4f4f4;
      margin-bottom: 4px;
  }
  </style>
<div class="content-wrapper">
  <div class="page-heading">
    Billing Management
  </div>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
          <div class="box-body">
            <div>
              <div class="row table-toolbar">
                <div class="col-sm-4 heading">Billing</div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                    <div style="margin-left:-315px;margin-bottom: -35px;">
                        <label style="width:85px" class="billingLabel">Branch:</label>
                        <select id="ddlBillingBranch" class="billingDropdown">
                        <option value="All">All</option>
                        <option *ngFor="let item of arListBranch" value="{{item}}">{{item}}</option>
                        </select>
                        </div>
                  <label class="custom-label">Show
                    <select class="input-sm" id="ddlLengthMenu">
                    </select> rows
                  </label>
                </div>
                <div class="col-sm-2">
                  <input type="text" id="txtSearch" class="input-sm custom-search" placeholder="Search...">
                </div>
              </div>
            </div>
            <table id="example1" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Bank
                <select class="role input-sm" id="ddlBank"> 
                    <option value="All">All</option>
                    <option *ngFor="let item of arListBanks" value="{{item}}">{{item}}</option>
                    </select>
                  </th>
                  <th>Case ID
                      <select class="role input-sm" id="ddlCaseID">
                          <option value="All">All</option>
                          <option *ngFor="let item of arListCaseID" value="{{item}}">{{item}}</option>
                      </select>
                  </th>
                  <th>Recourse
                      <select class="role input-sm" id="ddlRecourse">
                          <option value="All">All</option>
                          <option *ngFor="let item of arListRecourse" value="{{item}}">{{item}}</option>
                      </select>
                  </th>
                  <th>Stage
                      <select class="role input-sm" id="ddlStage">
                          <option value="All">All</option>
                          <option *ngFor="let item of arListStage" value="{{item}}">{{item}}</option>
                      </select>
                  </th>
                  <th>Amount
                      <!-- <select class="role input-sm" id="ddlAmount">
                          <option value="All">All</option>
                          <option *ngFor="let item of arListAmount" value="{{item}}">{{item}}</option>
                      </select> -->
                  </th>
                  <th>Billing Date</th>
                 
                  <th>Action</th>
                  <th style="display: none;">Branch</th>
                  <th style="display: none;">Billed</th>
                  <th style="display: none;">Invoice Number</th>
                </tr>
              </thead>
              <tbody>
                
                <tr *ngFor="let item of arBillingData; let i=index">
                  <td>{{i}}</td>
                  <td>{{item.Bank}}</td>
                  <td>{{item.CaseID}}</td>
                  <td>{{item.Recourse}}</td>
                  <td>{{item.Stage}}</td>
                  <td contenteditable='true'>
                    {{item.Amount}}
                    <img style="width:13px;float:right;" src="assets/dist/img/wrong.jpg">
                    <img style="width:20px;float:right;" src="assets/dist/img/right.png">
                    
                  </td>
                  <td>{{item.BillingDate}}</td>
                  <td><a href="#"><i class="fa fa-trash"></i></a></td>
                  <td style="display: none;">{{item.Branch}}</td>
                  <td style="display: none;">{{item.Billed}}</td>
                  <td style="display: none;">{{item.InvoiceNumber}}</td>
                </tr>
                <tr *ngIf="!arBillingData || arBillingData.length==0" colspan="8">
                  No record found..!!
                </tr>
              </tbody>
             

            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>