<div class="modal fade" id="editBillModal">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 5px;">
            <div class="modal-header modal-header-addedit">
                <button type="button" class="close close-addedit closebtn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Edit Bill</h4>
            </div>
            <div style="width:120px;height:10%;background-color:black;"></div>
            <div style="margin-top: -15px;" class="modal-body modal-body-adedit">
                <!-- Create User Starts -->
                <div class="row">
                    <!-- <div class="col-md-12"> -->
                    <input type="hidden" name="base_url" id="base_url" value="http://legalfriend.infinityfreeapp.com/">
                    <div>
                        <div class="box-body widget-content">
                            <form [formGroup]="editForm" class="form-horizontal" (ngSubmit)="submitEditBill(editForm.value)">
                                <div class="form-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active">
                                            <div class="form-group row">
                                                <div class="col-md-9">
                                                    <input type="hidden" formControlName="id">

                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label createUserLabel">Institution Name:
                                                    <em class="astrick">*</em>
                                                </label>
                                                <div class="col-md-9" [class.has-error]="editForm.get('institutionId').invalid 
                                                  &&  editForm.get('institutionId').touched">
                                                    
                                                    <select class="form-control" formControlName="institutionId" (change)="changeCombinations()">
                                                        <option value="">Select Institution</option>
                                                        <option *ngFor="let item of arAllInstitution" value="{{item.institutionName}}">
                                                            {{item.institutionName}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-9 valodation-padding" *ngIf="editForm.get('institutionId').invalid &&  editForm.get('institutionId').touched">
                                                    <small class="text-danger">
                                                        <span>Institution name is required.</span>
                                                    </small>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label createUserLabel">Resource:
                                                    <em class="astrick">*</em>
                                                </label>
                                                <div class="col-md-9" [class.has-error]="editForm.get('recourse').invalid 
                                                        &&  editForm.get('recourse').touched">
                                                    <select class="form-control" formControlName="recourse" (change)="changeRecourse($event.target.value);">
                                                        <option value="">Select Resource</option>
                                                        <option *ngFor="let item of arAllRecourses" value="{{item.id}}">
                                                            {{item.recourseName}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-9 valodation-padding" *ngIf="editForm.get('recourse').invalid
                                                         &&  editForm.get('recourse').touched">
                                                    <small class="text-danger">
                                                        <span>Recourse is required.</span>
                                                    </small>
                                                </div>
                                            </div>


                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label createUserLabel">Stage:
                                                    <em class="astrick">*</em>
                                                </label>
                                                <div class="col-md-9" [class.has-error]="editForm.get('stage').invalid 
                                                            &&  editForm.get('stage').touched">
                                                    <select class="form-control" formControlName="stage" (change)="changeCombinations()">
                                                        <option value="">Select Stage</option>
                                                        <option *ngFor="let item of arListStage" value="{{item.id}}">
                                                            {{item.stageName}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-9 valodation-padding" *ngIf="editForm.get('stage').invalid &&
                                                              editForm.get('stage').touched">
                                                    <small class="text-danger">
                                                        <span>Stage is required.</span>
                                                    </small>
                                                </div>
                                                <div class="col-sm-9 valodation-padding" *ngIf="isCombinationAlreadyExits">
                                                    <small class="text-danger">
                                                        <span>This combinatin already exists.</span>
                                                    </small>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label createUserLabel">Amount:
                                                    <em class="astrick">*</em>
                                                </label>
                                                <div class="col-md-9" [class.has-error]="editForm.get('amount').invalid 
                                                                &&  editForm.get('amount').touched">
                                                    <input class="form-control" AllowNumber placeholder="Amount" formControlName="amount">
                                                </div>
                                                <div class="col-sm-9 valodation-padding" *ngIf="editForm.get('amount').invalid &&
                                                                  editForm.get('amount').touched">
                                                    <small class="text-danger">
                                                        <span>Amount is required.</span>
                                                    </small>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer modal-footer-addedit">
                                    <button type="button" class="btn btn-default btn-default-add-edit" data-dismiss="modal">Close</button>
                                    <button type="submit" [disabled]="editForm.invalid || isCombinationAlreadyExits" class="btn btn-modal-addedit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
                <!-- Create User ends -->
            </div>
            <!-- <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                            <button type="submit" [disabled]="signupForm.invalid" class="btn btn-primary">Submit</button>
                            
                          </div> -->

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>

</script>