<div class="row">
    <div class="col-md-12">
        <input type="hidden" name="base_url" id="base_url" value="http://legalfriend.infinityfreeapp.com/">
        <div class="box">
            <div class="box-body widget-content">
                <form action="http://legalfriend.infinityfreeapp.com/Admin/Add_Edit_Case" class="form-horizontal" id="submit_form" enctype="multipart/form-data"
                    method="POST" onsubmit="return submitcase();">
                    <input type="hidden" name="base_url" id="base_url" value="http://legalfriend.infinityfreeapp.com/">
                    <input type="hidden" name="OLD_CASE_ID" id="OLD_CASE_ID" value="I/DRT/3">
                    <fieldset id="firstdiv">
                        <div class="form-group">
                            <label for="enterprise" class="col-md-2">Compliance: </label>
                            <div class="col-md-4">
                                <input type="checkbox" name="Compliance" id="Compliance" placeholder="Recourse" value="1" onclick="return compliance_single();">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="enterprise" class="col-md-2">Case ID:
                                <em>*</em>
                            </label>
                            <div class="col-md-3">
                                <input type="text" tabindex="1" class="form-control" name="CASE_ID" id="CASE_ID" placeholder="CASE ID" value="I/DRT/3" maxlength="100"
                                    readonly="">
                                <div class="error" style="display:none;" id="ERROR_CASE_ID">
                                    <p class="error-block">
                                        <span></span>
                                    </p>
                                </div>
                            </div>
                            <label for="enterprise" class="col-md-2">Branch: </label>
                            <div class="col-md-3">
                                <select name="Branch_Id" tabindex="5" class="form-control select2me" id="Branch_Id">

                                    <option value="1" selected="">Delhi</option>
                                </select>
                                <div class="error" style="display:none;" id="ERROR_Branch_Id">
                                    <p class="error-block">
                                        <span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="enterprise" class="col-md-2">Court Case ID: </label>
                            <div class="col-md-3">
                                <input type="text" tabindex="1" class="form-control" name="COURT_CASE_ID" id="COURT_CASE_ID" placeholder="COURT_CASE_ID"
                                    value="" maxlength="100">
                                <div class="error" style="display:none;" id="ERROR_COURT_CASE_ID">
                                    <p class="error-block">
                                        <span></span>
                                    </p>
                                </div>
                            </div>
                            <label for="enterprise" class="col-md-2">Filing Date: </label>
                            <div class="col-md-3">
                                <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                                    <input type="text" tabindex="9" id="FILING_DATE" name="FILING_DATE" readonly="" placeholder="yyyy-mm-dd" class="form-control"
                                        size="10" value="2017-11-07">
                                    <div class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </div>
                                </div>
                                <div class="error" style="display:none;" id="ERROR_FILING_DATE">
                                    <p class="error-block">
                                        <span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="enterprise" class="col-md-2">Recourse:
                                <em>*</em>
                            </label>
                            <div class="col-md-3">
                                <select name="RECOURSE_ID" tabindex="2" class="form-control select2me" id="RECOURSE_ID" onchange="return stagelist(this.value)">
                                    <option value="">Select Recourse</option>

                                    <option value="3">CRIMINAL CASE</option>


                                </select>
                                <div class="error" style="display:none;" id="ERROR_RECOURSE_ID">
                                    <p class="error-block">
                                        <span></span>
                                    </p>
                                </div>
                            </div>
                            <label for="enterprise" class="col-md-2">Stage:
                                <em>*</em>
                            </label>
                            <div class="col-md-3">
                                <select name="STAGE" tabindex="5" class="form-control select2me" id="STAGE" required="">
                                    <option value="">Select Stage</option>

                                    <option value="1">FOR SALE PERMISSION OF VEHICLE</option>

                                </select>
                                <div class="error" style="display:none;" id="ERROR_STAGE">
                                    <p class="error-block">
                                        <span></span>
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">

                            <label for="enterprise" class="col-md-2">Manager: </label>
                            <div class="col-md-3">
                                <select name="MANAGER" tabindex="3" class="form-control select2me" id="MANAGER">
                                    <option value="">Select Manager</option>

                                    <option value="13">Amrita Jaiswal</option>

                                    <option value="14" selected="">Neha Arora</option>

                                    <option value="24">test test</option>
                                </select>
                                <div class="error" style="display:none;" id="ERROR_MANAGER">
                                    <p class="error-block">
                                        <span></span>
                                    </p>
                                </div>
                            </div>
                            <label for="enterprise" class="col-md-2">Employee:
                                <em>*</em>
                            </label>
                            <div class="col-md-3">
                                <select name="EMPLOYEE" tabindex="11" class="form-control select2me" id="EMPLOYEE">
                                    <option value="">Select Employee</option>

                                    <option value="12" selected="">Manjul Sood (srcslawfirm@gmail.com)</option>


                                </select>
                                <div class="error" style="display:none;" id="ERROR_EMPLOYEE">
                                    <p class="error-block">
                                        <span></span>
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="enterprise" class="col-md-2">Court: </label>
                            <div class="col-md-3">
                                <select name="COURT_ID" tabindex="5" class="form-control select2me" id="COURT_ID">
                                    <option value="">Select Court</option>

                                    <option value="1">7TH BHOIWADA COURT, DADAR</option>
                                </select>
                                <div class="error" style="display:none;" id="ERROR_COURT_ID">
                                    <p class="error-block">
                                        <span></span>
                                    </p>
                                </div>
                            </div>

                            <label for="enterprise" class="col-md-2">Court Place: </label>
                            <div class="col-md-3">
                                <select name="COURT_PLACE" tabindex="5" class="form-control select2me" id="COURT_PLACE">
                                    <option value="">Select Place</option>

                                    <option value="1">SEONI</option>


                                </select>
                                <div class="error" style="display:none;" id="ERROR_COURT_PLACE">
                                    <p class="error-block">
                                        <span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="enterprise" class="col-md-2">State: </label>
                            <div class="col-md-3">
                                <select name="STATE" tabindex="5" class="form-control select2me" id="STATE">
                                    <option value="">Select State</option>

                                    <option value="1">Andaman and Nicobar Islands</option>


                                </select>
                                <div class="error" style="display:none;" id="ERROR_STATE">
                                    <p class="error-block">
                                        <span></span>
                                    </p>
                                </div>
                            </div>
                            <label for="enterprise" class="col-md-2">Opp Lawyer: </label>
                            <div class="col-md-3">
                                <input type="text" tabindex="13" class="form-control" name="OPP_LAYER" id="OPP_LAYER" placeholder="OPP_LAYER" value="" maxlength="100">
                                <div class="error" style="display:none;" id="ERROR_OPP_LAYER">
                                    <p class="error-block">
                                        <span></span>
                                    </p>
                                </div>
                            </div>


                        </div>
                        <div class="form-group">
                            <label for="enterprise" class="col-md-2">Parent Case: </label>
                            <div class="col-md-3">
                                <select name="PARENT_CASE" tabindex="5" class="form-control select2me" id="PARENT_CASE">
                                    <option value="">Select Parent Case</option>

                                    <option value="1">I/RODA/1</option>

                                    <option value="2">I/RODA/2</option>

                                    <option value="3">I/DRT/3</option>

                                    <option value="4">I/LKAD/4</option>
                                </select>
                                <div class="error" style="display:none;" id="ERROR_PARENT_CASE">
                                    <p class="error-block">
                                        <span></span>
                                    </p>
                                </div>
                            </div>
                            <label for="enterprise" class="col-md-2">Child Case: </label>
                            <div class="col-md-3">
                                <input type="text" tabindex="13" class="form-control" name="CHILD_CASE_ID" id="CHILD_CASE_ID" placeholder="CHILD CASE" value=""
                                    maxlength="100">
                                <div class="error" style="display:none;" id="ERROR_CHILD_CASE_ID">
                                    <p class="error-block">
                                        <span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="enterprise" class="col-md-2">Next Hearing Date: </label>
                            <div class="col-md-3">
                                <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                                    <input type="text" tabindex="14" id="NEXT_HEARING_DATE" name="NEXT_HEARING_DATE" readonly="" placeholder="yyyy-mm-dd" class="form-control"
                                        size="10" value="2017-12-22">
                                    <div class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </div>
                                </div>
                                <div class="error" style="display:none;" id="ERROR_NEXT_HEARING_DATE">
                                    <p class="error-block">
                                        <span></span>
                                    </p>
                                </div>
                            </div>

                            <label for="enterprise" class="col-md-2">Last Hearing Date: </label>
                            <div class="col-md-3">
                                <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                                    <input type="text" tabindex="14" id="LAST_HEARING_DATE" name="LAST_HEARING_DATE" readonly="" placeholder="yyyy-mm-dd" class="form-control"
                                        size="10" value="2017-12-04">
                                    <div class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </div>
                                </div>
                                <div class="error" style="display:none;" id="ERROR_LAST_HEARING_DATE">
                                    <p class="error-block">
                                        <span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="enterprise" class="col-md-2">Customer Name:
                                <em>*</em>
                            </label>
                            <div class="col-md-3">
                                <!--input type="text" tabindex="6" class="form-control" name="CUSTOMER_NAME" id="CUSTOMER_NAME" value="23" maxlength="100" -->
                                <select name="CUSTOMER_NAME" tabindex="7" class="form-control select2me" id="CUSTOMER_NAME">
                                    <option value="">Select User</option>

                                    <option value="23" selected="">Govind singh (gpsraj.govind@gmail.com)</option>
                                </select>
                                <div class="error" style="display:none;" id="ERROR_CUSTOMER_NAME">
                                    <p class="error-block">
                                        <span></span>
                                    </p>
                                </div>
                            </div>


                            <label for="enterprise" class="col-md-2">Upload Document: </label>
                            <div class="col-md-3">
                                <input type="file" name="upload_document" id="upload_document" class="form-control">
                                <div class="error" style="display:none;" id="ERROR_upload_document">
                                    <p class="error-block">
                                        <span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="enterprise" class="col-md-2">Remark:
                                <em>*</em>
                            </label>
                            <div class="col-md-8">
                                <textarea name="REMARK" tabindex="8" id="REMARK" class="form-control">case filed12</textarea>
                                <div class="error" style="display:none;" id="ERROR_REMARK">
                                    <p class="error-block">
                                        <span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="enterprise" class="col-md-2">Ground for closing file: </label>
                            <div class="col-md-3">
                                <textarea name="GROUND_OF_CLOSING" tabindex="17" id="GROUND_OF_CLOSING" class="form-control"></textarea>
                                <div class="error" style="display:none;" id="ERROR_GROUND_OF_CLOSING">
                                    <p class="error-block">
                                        <span></span>
                                    </p>
                                </div>
                            </div>
                            <label for="enterprise" class="col-md-2">Completion Date: </label>
                            <div class="col-md-3">
                                <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                                    <input type="text" tabindex="15" id="COMPLETION_DATE" name="COMPLETION_DATE" readonly="" placeholder="yyyy-mm-dd" class="form-control"
                                        size="10" value="">
                                    <div class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </div>
                                </div>
                                <div class="error" style="display:none;" id="ERROR_COMPLETION_DATE">
                                    <p class="error-block">
                                        <span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="enterprise" class="col-md-2">Disposed off File No: </label>
                            <div class="col-md-3">
                                <input type="text" tabindex="13" class="form-control" name="DISPOSED_OFF_FILE_NO" id="DISPOSED_OFF_FILE_NO" placeholder="DISPOSED OFF FILE NO"
                                    value="" maxlength="100">
                                <div class="error" style="display:none;" id="ERROR_DISPOSED_OFF_FILE_NO">
                                    <p class="error-block">
                                        <span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2"></label>
                            <div class="col-md-7">
                                <input type="hidden" name="Id" id="Id" value="3">
                                <input type="hidden" name="OLD_LAST_HEARING_DATE" id="OLD_LAST_HEARING_DATE" value="2017-12-04">
                                <input type="hidden" name="OLD_NEXT_HEARING_DATE" id="OLD_NEXT_HEARING_DATE" value="2017-12-22">
                                <input type="hidden" name="OLD_STAGE" id="OLD_STAGE" value="3">
                                <input type="hidden" name="OLD_COURT_ID" id="OLD_COURT_ID" value="2120">

                                <input type="hidden" name="tablename" id="tablename" value="tbl_CASE_MANAGEMENT">
                                <input type="hidden" name="branchid" id="branchid" value="">
                                <input type="hidden" name="baseurl" id="baseurl" value="http://legalfriend.infinityfreeapp.com/">
                                <input type="hidden" name="caseID" id="caseID" value="I/DRT/3">

                                <button type="submit" name="submit" value="submit" class="btn btn-primary">Save</button>
                                <button type="submit" name="apply" value="apply" class="btn btn-primary">Apply</button>
                                <!--button type="button" name="Back" value="Back" class="btn
                                                green button-submit" onclick="return history.back();"> Back <i class="m-icon-swapright m-icon-white"></i> </button -->
                                <a href="http://legalfriend.infinityfreeapp.com/Admin/ManageCase" role="button" class="btn btn-primary" data-toggle="modal">
                                Back</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>