<div class="modal fade" id="addResourceMasterModal">
    <div class="modal-dialog">
      <div class="modal-content" style="border-radius: 5px;width: 610px;">
        <div class="modal-header modal-header-addedit">
          <button type="button" id="closebtn" class="close close-addedit" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Add Recource</h4>
        </div>
        <div style="width:120px;height:10%;background-color:black;"></div>
        <div class="modal-body modal-body-adedit" style="margin-top: -15px;">
          <!-- Edit Case Starts -->
          <div class="row">
            <!-- <div class="col-md-12"> -->
            <input type="hidden" name="base_url" id="base_url" value="http://legalfriend.infinityfreeapp.com/">
            <div>
              <div class="box-body widget-content">
                <form [formGroup]="addResourceMasterForm" class="form-horizontal" (ngSubmit)="submitAddResourceMaster(addResourceMasterForm.value)">
                  <div class="form-body">
                    <div class="tab-content">
                      <div class="tab-pane active">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label createUserLabel">Recourse Code:
                              <em class="astrick">*</em>
                            </label>
                            <div class="col-md-9" [class.has-error]="addResourceMasterForm.get('recourseCode').invalid &&  addResourceMasterForm.get('recourseCode').touched">
                              <input class="form-control" placeholder="Recourse Code" formControlName="recourseCode">
                            </div>
                            <div class="col-sm-9 valodation-padding" *ngIf="addResourceMasterForm.get('recourseCode').invalid &&  addResourceMasterForm.get('recourseCode').touched">
                              <small class="text-danger">
                                <span>Recourse Code is required.</span>
                              </small>
                            </div>
                            <div class="col-sm-9 valodation-padding" *ngIf="isResourcecodeAlreadyExists">
                              <small class="text-danger">
                                <span>Recourse Code already exists.</span>
                              </small>
                            </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-3 col-form-label createUserLabel">Recourse Name:
                                <em class="astrick">*</em>
                              </label>
                              <div class="col-md-9" [class.has-error]="addResourceMasterForm.get('recourseName').invalid &&  addResourceMasterForm.get('recourseName').touched">
                                <input class="form-control" placeholder="Recourse Name" formControlName="recourseName">
                              </div>
                              <div class="col-sm-9 valodation-padding" *ngIf="addResourceMasterForm.get('recourseName').invalid &&  addResourceMasterForm.get('recourseName').touched">
                                <small class="text-danger">
                                  <span>Recourse Name is required.</span>
                                </small>
                              </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label createUserLabel">Recourse Desc:
                                  <em class="astrick">*</em>
                                </label>
                                <div class="col-md-9" [class.has-error]="addResourceMasterForm.get('recourseDesc').invalid &&  addResourceMasterForm.get('recourseDesc').touched">
                                  <!-- <input class="form-control" placeholder="Resource Desc" formControlName="recourseDesc"> -->
                                  <textarea type="text" class="form-control" placeholder="Recourse Desc" formControlName="recourseDesc"></textarea>
                                </div>
                                <div class="col-sm-9 valodation-padding" *ngIf="addResourceMasterForm.get('recourseDesc').invalid &&  addResourceMasterForm.get('recourseDesc').touched">
                                  <small class="text-danger">
                                    <span>Resource Desc is required.</span>
                                  </small>
                                </div>
                              </div>
                        <div class="form-group row">
                          <div class="col-md-4">
                            <!-- <button type="submit" [disabled]="signupForm.invalid" class="btn green button-submit">
                        Submit
                        <i class="m-icon-swapright m-icon-white"></i>
                      </button> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer modal-footer-addedit">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" [disabled]="addResourceMasterForm.invalid || isResourcecodeAlreadyExists"  class="btn btn-modal-addedit">Submit</button>
                  </div>
                </form>
              </div>
            </div>
            <!-- </div> -->
          </div>
          <!-- Create User ends -->
        </div>
        <!-- <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="submit" [disabled]="signupForm.invalid" class="btn btn-primary">Submit</button>
            
          </div> -->
  
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    
  </div>
  