<div class="example-header" *ngIf="showSearchFilter">
    <input type="text" id="txtSearch" class="input-sm custom-search" value="{{searchFilterValue}}" placeholder="Search..." (keyup)="applyFilter($event.target.value)">
</div>
<div class="clearfix"></div>
<div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort (mouseleave)="hideCalendar()">

        <ng-container matColumnDef="select" *ngIf="showRowSelect">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? onRowSelect(row) : null" [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container *ngFor="let column of tableColumns" matColumnDef={{column.uniqueId}}>
            <div *ngIf="column.sortable">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{column.displayName}}

                </mat-header-cell>

            </div>
            <div *ngIf="!column.sortable">
                <mat-header-cell *matHeaderCellDef>
                    {{column.displayName}}
                    <mat-form-field class="table-dropdown-sort" *ngIf="column.dropDownFilter" style="margin-top: 5px;">
                        <mat-select [(value)]="dropdownData[column.uniqueId].selected" (change)="sortTable($event.value,column.uniqueId)">
                            <mat-option value="" *ngIf="!this.dropdownData[column.uniqueId].data['hideSelectFitlerText']">Select</mat-option>
                            <mat-option *ngFor="let value of dropdownData[column.uniqueId].values" [value]="value">
                                {{ value }}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                    <div *ngIf="column.dropDownFilter 
                    && (dropdownData[column.uniqueId].selected || this.dropdownData[column.uniqueId].data['showFirstFilterSelected'])"
                        style="margin-top: -25px;position: fixed;">
                        <span *ngIf="dropdownData[column.uniqueId].selected || dropdownData[column.uniqueId].data['showFirstFilterSelected']" style="display: inline-block;color:#ff8254">{{dropdownData[column.uniqueId].selected}}</span>
                    </div>
                    <!-- <button (click)="onCaseFilterClick($event, row)" class="fa fa-calendar" *ngIf="(moduleName==='Case' && column.uniqueId=='nextHearingDate') || (moduleName==='Billing' && column.uniqueId=='billingDate') "></button> -->
                    <button (click)="onCaseFilterClick($event, row)" class="fa fa-calendar" *ngIf="(moduleName==='Case' && column.uniqueId=='nextHearingDate') || (moduleName==='Billing' && column.uniqueId=='billingDate')
                    || (moduleName == 'Invoice' && column.uniqueId =='invoiceDate')"></button>
                </mat-header-cell>
            </div>
            <mat-cell *matCellDef="let row;let i = index;" (mouseenter)="onMouseHover($event, i)">
                <div *ngIf="column.uniqueId == 'amount'" class="mat-cell-text" title="{{ row[column.uniqueId] }}">{{ row[column.uniqueId] |currency:'INR':true}} &nbsp; &nbsp;</div>
                <div *ngIf="column.uniqueId != 'amount'" class="mat-cell-text" title="{{ row[column.uniqueId] }}">{{ row[column.uniqueId]}} &nbsp; &nbsp;</div>
                <!-- <div *ngIf="showCalender && (column.uniqueId=='nextHearingDate' || column.uniqueId=='previousHearingDate')" style=" margin-left: 41px;position: relative;"
                    <div class="mat-cell-text" title="{{ row[column.uniqueId] }}">{{ row[column.uniqueId] }} &nbsp; &nbsp;</div> -->
                <div *ngIf="showCalender && !_sharedService.isViewOnly() && (column.uniqueId=='nextHearingDate' || column.uniqueId=='previousHearingDate')"
                    style=" margin-left: 41px;position: relative;" class="colCalendar">
                    <div class="divNewHire input-group date" style="margin-top: -2px;position: absolute" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                        <input *ngIf="column.uniqueId=='nextHearingDate'" style="display:none" type="text" tabindex="14" id="NEXT_HEARING_DATE" name="NEXT_HEARING_DATE"
                            readonly="" placeholder="yyyy-mm-dd" class="form-control newHiringDate" size="10">

                        <input *ngIf="column.uniqueId=='previousHearingDate'" style="display:none" type="text" tabindex="14" readonly="" placeholder="yyyy-mm-dd"
                            class="form-control lastHiringDate" size="10">

                        <div class="input-group-addon" [ngClass]="{'hide': i!=hoveredIndex}" style="background: none; border: none;" (click)="onShowCalendar($event,row)">
                            <span class="fa fa-calendar"></span>
                        </div>
                    </div>
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action" *ngIf="actionColumnConfig">
            <mat-header-cell *matHeaderCellDef>
                {{ actionColumnConfig.displayName }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button class="table-case-history-btn" (click)="onActionBtnClick($event, row)" *ngIf="actionColumnConfig.moduleName==='Case'">{{ actionColumnConfig.btnText[0] }}</button>
                <button class="table-make-default-inst-btn btn btn-primary" (click)="onActionBtnClick($event, row)" *ngIf="actionColumnConfig.moduleName==='Master_Institution' && !row.defaultInstitution">{{ actionColumnConfig.btnText[0] }}</button>
                <span class="table-default-inst-btn btn btn btn-primary" style="background: green;cursor: default;" *ngIf="actionColumnConfig.moduleName==='Master_Institution' && row.defaultInstitution">{{ actionColumnConfig.btnText[1] }}</span>
                <!-- <span class="table-default-inst-btn btn btn btn-primary" style="background: green;cursor: default;" *ngIf="actionColumnConfig.moduleName==='user'">actionColumnConfig.btnText[0] </span> -->
                <a title="Edit" *ngIf="actionColumnConfig.showEdit 
                && !(actionColumnConfig.moduleName=='Invoice' && row['status']=='PAID')" (click)="onActionBtnClick($event, row, 'edit')">
                    <!-- <i class="fa fa-edit"></i> -->
                    <img width="24px" src="/assets/dist/img/editsvg.png" />
                </a>&nbsp;
                <a title="Change Password" (click)="onActionBtnClickForChangePasswordPopup($event, row)" *ngIf="actionColumnConfig.moduleName==='user'">
                    <img width="20px" src="/assets/dist/img/pro.png" />
                </a>
                <a title="Delete" (click)="onActionBtnClick($event, row, 'delete')" *ngIf="actionColumnConfig.showDelete">
                        <!-- <i class="fa fa-delete"></i> -->
                    <img width="20px" src="/assets/dist/img/delete.png" />
                </a>

                <span *ngIf="actionColumnConfig.showEdit && actionColumnConfig.showHistory">&nbsp;</span>
                <a *ngIf="actionColumnConfig.showHistory" (click)="onActionBtnClick($event, row, 'history')">
                    <i class="fa fa-history"></i>
                </a>
                <a *ngIf="actionColumnConfig.showCancel && !(actionColumnConfig.moduleName=='Invoice' && row['status']=='PAID')" title="Cancel"
                    (click)="onActionBtnClick($event, row, 'cancel')">
                    <img width="20px" src="/assets/dist/img/close.png" />
                </a>
                <ng-container *ngFor="let CustomAction of actionColumnConfig.actionList">
                    &nbsp;
                    <ng-container *ngIf="actionColumnConfig.moduleName=='Invoice' else elseCustomAction">
                        <ng-container *ngIf="(row['status']=='PAID' && (CustomAction.eventType=='view' || CustomAction.eventType=='download')) || (row['status']=='PENDING' && CustomAction.eventType!='view')">
                            <a title="{{CustomAction.title}}" (click)="onActionBtnClick($event, row, CustomAction.eventType)">
                                <img *ngIf="CustomAction.isImage" width="20px" [src]="CustomAction.icon" />
                                <span *ngIf="!CustomAction.isImage" [innerHTML]="CustomAction.icon"></span>
                            </a>
                        </ng-container>
                    </ng-container>
                    <ng-template #elseCustomAction>
                        <a title="{{CustomAction.title}}" (click)="onActionBtnClick($event, row, CustomAction.eventType)">
                            <img *ngIf="CustomAction.isImage" width="20px" [src]="CustomAction.icon" />
                            <span *ngIf="!CustomAction.isImage" [innerHTML]="CustomAction.icon"></span>
                        </a>
                    </ng-template>

                </ng-container>

            </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns" style="z-index: 1;"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick($event, row)" (dblclick)="onRowDoubleClick($event, row)"
            [ngClass]="{'mat-row-change-bg': row.compliance}">
        </mat-row>

    </mat-table>
    <mat-paginator [pageSize]="15" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>