<div class="modal fade" id="addForInstitutionModal">
        <div class="modal-dialog">
            <div class="modal-content" style="border-radius: 5px;">
                <div class="modal-header modal-header-addedit">
                    <button type="button" class="close close-addedit" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Add For Institution</h4>
                </div>
                <div style="width:120px;height:10%;background-color:black;"></div>
                <div style="margin-top: -15px;" class="modal-body modal-body-adedit">
                    <!-- Create User Starts -->
                    <div class="row">
                        <!-- <div class="col-md-12"> -->
                        <input type="hidden" name="base_url" id="base_url" value="http://legalfriend.infinityfreeapp.com/">
                        <div>
                            <div class="box-body widget-content">
                                <form [formGroup]="addForm1"  class="form-horizontal" (ngSubmit)="submitAddBill(addForm1.value)">
                                    <div class="form-body">
                                         <div class="tab-content">
                                            <div class="tab-pane active">
     
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label createUserLabel">Institution:
                                                        <em class="astrick">*</em>
                                                    </label>
                                                    <div class="col-md-3 createUserLabel">
                                                       HDFC BANK Ltd.
                                                   </div>
                                                    <div class="col-md-9" [class.has-error]="addForm1.get('institution').invalid 
                                                  &&  addForm1.get('institution').touched">
                                                       
                                                    </div>
                                                    <div class="col-sm-9 valodation-padding" *ngIf="addForm1.get('institution').invalid
                                                     &&  addForm1.get('institution').touched">
                                                        <small class="text-danger">
                                                            <span>Institution name is required.</span>
                                                        </small>
                                                    </div>
                                                   
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label createUserLabel">Branch:
                                                        <em class="astrick">*</em>
                                                    </label>
                                                   <div class="col-md-3 createUserLabel">
                                                      Delhi
                                                   </div>
                                                    <div class="col-md-9" [class.has-error]="addForm1.get('branch').invalid 
                                                  &&  addForm1.get('branch').touched">
                                                       
                                                    </div>
                                                    <div class="col-sm-9 valodation-padding" *ngIf="addForm1.get('branch').invalid
                                                     &&  addForm1.get('branch').touched">
                                                        <small class="text-danger">
                                                            <span>Branch name is required.</span>
                                                        </small>
                                                    </div>
                                                    
                                                   
                                                </div>

                                               <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label createUserLabel">Report Type:
                                                        <em class="astrick">*</em>
                                                    </label>
                                                    <div class="col-md-3 createUserLabel">
                                                     For Organization
                                                   </div>
                                                    <div class="col-md-9" [class.has-error]="addForm1.get('reportType').invalid 
                                                  &&  addForm1.get('reportType').touched">
                                                       
                                                    </div>
                                                    <div class="col-sm-9 valodation-padding" *ngIf="addForm1.get('reportType').invalid
                                                     &&  addForm1.get('reportType').touched">
                                                        <small class="text-danger">
                                                            <span>Report Type name is required.</span>
                                                        </small>
                                                    </div>
                                                   
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label createUserLabel">Upload Cases:
                                                        <em class="astrick">*</em>
                                                    </label>
                                                    <div class="col-md-3 createUserLabel">
                                                        <input type="file" name="casefile" id="casefile" value="">
									                <div class="error" style="display:none;" id="ERROR_casefile">
                                                        </div>
                                                        </div>
                                                    <div class="col-md-9" [class.has-error]="addForm1.get('uploadCases').invalid 
                                                  &&  addForm1.get('uploadCases').touched">
                                                       
                                                    </div>
                                                    <div class="col-sm-9 valodation-padding" *ngIf="addForm1.get('uploadCases').invalid
                                                     &&  addForm1.get('uploadCases').touched">
                                                        <small class="text-danger">
                                                            <span>Upload Cases name is required.</span>
                                                        </small>
                                                    </div>
                                                   
                                                </div>
                                              <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label createUserLabel">Upload Case Files:
                                                        <em class="astrick">*</em>
                                                    </label>
                                                      <div class="col-md-3 createUserLabel">
                                                        <input type="file" name="uploadcasefile" id="uploadcasefile" value="">
									                <div class="error" style="display:none;" id="ERROR_uploadcasefile">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9" [class.has-error]="addForm1.get('uploadCaseFiles').invalid 
                                                  &&  addForm1.get('uploadCaseFiles').touched">
                                                       
                                                    </div>
                                                    <div class="col-sm-9 valodation-padding" *ngIf="addForm1.get('uploadCaseFiles').invalid
                                                     &&  addForm1.get('uploadCaseFiles').touched">
                                                        <small class="text-danger">
                                                            <span>Upload Case Files name is required.</span>
                                                        </small>
                                                    </div>
                                                   
                                                </div>
    
                                            </div>
                                        </div>
                                    </div>
                                     <div class="modal-footer modal-footer-addedit">
                                        <button type="button" class="btn btn-default btn-default-add-edit" data-dismiss="modal">Close</button>
                                        <button type="submit"  class="btn btn-modal-addedit">Submit</button>
                                    </div> 
                                </form>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                    <!-- Create User ends -->
                </div>
                <!-- <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                            <button type="submit" [disabled]="signupForm.invalid" class="btn btn-primary">Submit</button>
                            
                          </div> -->
    
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>