<div class="login-logo">
        <img src="/assets/dist/img/logo.png" alt="logo" style="width: 40px;">
        <span style="vertical-align: middle;">
            <b>Legal</b>Friend</span>
    
    </div>
    <div class="login-box-body">
            <!-- <p class="login-box-msg"></p> -->
        <!-- start form container -->
        <ng-container >
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordRecovery()">
        
                         <div class="modal-body">
                             <h2 [style.color]="getColor()">{{message}}</h2>
                         </div>
        
                <div class="form-group row forget-btn">
                    <!-- /.col -->
                    <div class="col-xs-8"></div>
                    <!-- <div class="col-xs-4"> -->
                       <a href="/login"  class="btn btn-signup"> Login</a>
                    <!-- </div> -->
                    <!-- /.col -->
                </div>
            </form>
        </ng-container>
        <!-- end form container -->
        
       
        </div>