<!-- Content Wrapper. Contains page content -->
<style>
  .hide {
    display: none
  }

  .show {
    display: block
  }

  .pagination>li>a {
    padding: 7px;
    font-weight: 600;
  }

  .modal-dialog .close {
    display: none !important;
  }

  body {
    width: calc(100vw - 34px);
  }
</style>
<div class="content-wrapper">
  <div class="page-heading">
    Dashboard
  </div>
  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>150</h3>

            <p>Total Customers</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-people-outline"></i>
          </div>
          <a (click)="goToPage('/admin/userdetails','customerdetails')" class="small-box-footer">More info
            <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>53
              <!-- <sup style="font-size: 20px">%</sup> -->
            </h3>

            <p>Total Cases</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a (click)="goToPage('/admin/case')" class="small-box-footer">More info
            <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>44</h3>

            <p>Daily Login</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a class="small-box-footer">More info
            <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3>65</h3>

            <p>Total Billing</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a (click)="goToPage('/admin/billing')" class="small-box-footer">More info
            <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <section class="col-lg-6 connectedSortable">
        <!-- quick email widget -->
        <div class="box box-info">
          <div class="box-header">
            <i class="fa fa-inbox"></i>
            <h3 class="box-title">Daily Login</h3>
            <div class="graph-filter pull-right">
              <ul class="pagination pagination-sm inline">
                <li>
                  <a id="dailyFilterMonth" (click)="ShowHideModeFilter('M','DailyLogin')">Monthly</a>
                </li>
                <li>
                  <a id="dailyFilterWeek" (click)="ShowHideModeFilter('W','DailyLogin')">Weekly</a>
                </li>
                <li>
                  <a id="dailyFilterDate" (click)="ShowHideModeFilter('D','DailyLogin')">DateWise</a>
                </li>
              </ul>
              <div class="input-group pull-right" style="width:250px" [ngClass]="{ 'hide' : graphMode.dailyLoginMode=='M' ||graphMode.dailyLoginMode=='W' }">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control pull-right" id="dailyFilter">
              </div>
            </div>
          </div>
          <div class="box-body">
            <!-- <div class="chart tab-pane active" id="daily-chart" style="position: relative; height: 300px;"></div> -->
            <canvas id="daily-chart" style="position: relative; height: 300px;"></canvas>
          </div>

        </div>
        <!-- quick email widget -->
        <div class="box box-info">
          <div class="box-header">
            <i class="fa fa-inbox"></i>
            <h3 class="box-title">Customers</h3>
            <div class="graph-filter pull-right">
              <ul class="pagination pagination-sm inline">
                <li>
                  <a id="customerFilterMonth" (click)="ShowHideModeFilter('M','Customer')">Monthly</a>
                </li>
                <li>
                  <a id="customerFilterWeek" (click)="ShowHideModeFilter('W','Customer')">Weekly</a>
                </li>
                <li>
                  <a id="customerFilterDate" (click)="ShowHideModeFilter('D','Customer')">DateWise</a>
                </li>
              </ul>
              <div class="input-group pull-right" style="width:250px" [ngClass]="{ 'hide' : graphMode.customerMode=='M' ||graphMode.customerMode=='W' }">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control pull-right" id="customerFilter">
              </div>
            </div>
          </div>
          <div class="box-body">
            <!-- <div class="chart tab-pane" id="customer-chart" style="position: relative; height: 300px;"></div> -->
            <canvas id="customer-chart" style="position: relative; height: 300px;"></canvas>
          </div>

        </div>
        <div class="box box-info">
          <div class="box-header">
            <i class="fa fa-inbox"></i>
            <h3 class="box-title">Total Billing</h3>
          </div>
          <div class="box-body">
            <!-- <div class="chart tab-pane" id="customer-chart" style="position: relative; height: 300px;"></div> -->
            <canvas id="billing-chart" style="position: relative; height: 300px;"></canvas>
          </div>
          <div class="box-footer clearfix" style="text-align:center">
            <a routerLink="/admin/billing" class="btn btn-sm btn-default btn-flat">View More</a>
          </div>
        </div>
        <div class="box box-info">
          <div class="box-header">
            <i class="fa fa-inbox"></i>
            <h3 class="box-title">Branch</h3>
          </div>
          <div class="box-body">
            <!-- <div class="chart tab-pane" id="referral-chart" style="position: relative; height: 300px;"></div> -->
            <canvas id="branch-chart" style="position: relative; height: 300px;"></canvas>
          </div>

        </div>
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Most Active Employees</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table no-margin">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Last Login</th>
                    <th>Total Login</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-template ngFor let-item [ngForOf]="arrActiveEmployeeList" let-i="index">
                    <tr *ngIf="i<5">
                      <td>{{i+1}}</td>
                      <td>{{item.name}}</td>
                      <td>{{item.designation}}</td>
                      <td>{{item.lastLogin | date:'yyyy-MM-dd HH:mm a'}}</td>
                      <td>{{item.totalLogin}}</td>
                    </tr>
                  </ng-template>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix" style="text-align:center">
            <a routerLink="/admin/employeeactive" class="btn btn-sm btn-default btn-flat">View More</a>
          </div>
          <!-- /.box-footer -->
        </div>
      </section>
      <!-- /.Left col -->
      <!-- right col (We are only adding the ID to make the widgets sortable)-->
      <section class="col-lg-6 connectedSortable">
        <div class="box box-info">
          <div class="box-header">
            <i class="fa fa-inbox"></i>
            <h3 class="box-title">Case</h3>
            <div class="graph-filter pull-right">
              <ul class="pagination pagination-sm inline">
                <li>
                  <a id="caseFilterMonth" (click)="ShowHideModeFilter('M','Case')">Monthly</a>
                </li>
                <li>
                  <a id="caseFilterWeek" (click)="ShowHideModeFilter('W','Case')">Weekly</a>
                </li>
                <li>
                  <a id="caseFilterDate" (click)="ShowHideModeFilter('D','Case')">DateWise</a>
                </li>
              </ul>
              <div class="input-group pull-right" style="width:250px" [ngClass]="{ 'hide' : graphMode.caseMode=='M' ||graphMode.caseMode=='W' }">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control pull-right" id="caseFilter">
              </div>
            </div>
          </div>
          <div class="box-body">
            <!-- <div class="chart tab-pane" id="case-chart" style="position: relative; height: 300px;"></div> -->
            <canvas id="case-chart" style="position: relative; height: 300px;"></canvas>
          </div>

        </div>

        <div class="box box-info">
          <div class="box-header">
            <i class="fa fa-inbox"></i>
            <h3 class="box-title">Total Receipt</h3>
          </div>
          <div class="box-body">
            <canvas id="receipt-chart" style="position: relative; height: 300px;"></canvas>
          </div>

        </div>
        <div class="box box-info">
          <div class="box-header">
            <i class="fa fa-inbox"></i>
            <h3 class="box-title">Bank</h3>
          </div>
          <div class="box-body">
            <!-- <div class="chart tab-pane" id="referral-chart" style="position: relative; height: 300px;"></div> -->
            <canvas id="bank-chart"></canvas>
          </div>

        </div>
        <div class="box box-info">
          <div class="box-header">
            <i class="fa fa-inbox"></i>
            <h3 class="box-title">Recourse</h3>
          </div>
          <div class="box-body">
            <!-- <div class="chart tab-pane" id="referral-chart" style="position: relative; height: 300px;"></div> -->
            <canvas id="recourse-chart"></canvas>
          </div>

        </div>
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Recently Updated Cases</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table no-margin">
                <thead>
                  <tr>
                    <th>CaseId</th>
                    <th>Name</th>
                    <th>Resource Type</th>
                    <th>Near Hearing Date</th>
                    <th>Branch</th>
                    <th>Employee</th>
                    <th>Last Update</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-template ngFor let-item [ngForOf]="arrCaseList" let-i="index">
                    <tr *ngIf="i<5">
                      <td>{{item.CaseId}}</td>
                      <td>{{item.Name}}</td>
                      <td>{{item.ResourceType}}</td>
                      <td>{{item.NearHearingDate | date}}</td>
                      <td>{{item.Branch}}</td>
                      <td>{{item.Employee}}</td>
                      <td>{{item.LastUpdate | date}}</td>
                    </tr>
                  </ng-template>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix" style="text-align:center">
            <a routerLink="/admin/case" class="btn btn-sm btn-default btn-flat">View More</a>
          </div>
          <!-- /.box-footer -->
        </div>
      </section>
      <!-- right col -->
    </div>
    <!-- /.row (main row) -->
    <!-- Popup Start -->
    <div class="modal fade" id="subscriptionWarningModal">
      <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 5px;">
          <div class="modal-header modal-header-addedit">
            <button type="button" id="closebtn" class="close close-addedit">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">User Onboarding</h4>
          </div>
          <!-- <div style="background-color:#ffd42a; color: white; border-color: #ddd; border-radius: 5px;
        height:99px ">
            <img src="/assets/dist/img/warning.png" style="width:70px;margin-left:250px" />
          </div> -->
          <div style="width:120px;height:10%;background-color:black;"></div>
          <div class="modal-body modal-body-adedit" style="margin-top: -15px;">
            <div class="row">
              <!-- <div class="col-md-12"> -->
              <input type="hidden" name="base_url" id="base_url" value="http://legalfriend.infinityfreeapp.com/">
              <div>
                <div class="box-body widget-content">
                  <form class="form-horizontal">
                    <div class="form-body">
                      <div class="tab-content">
                        <div class="tab-pane active">
                          <div class="form-group row" style="text-align: center">
                            <!-- <h2>{{branchPopupBody}}</h2> -->
                            <h4 style="color: green">Thank you for registration. Please fill further details for setup.</h4>
                          </div>
                        </div>
                      </div>
                      <div style="text-align: right">
                        <a type="submit" (click)="ShowBranchPopup()" class="btn btn-modal-addedit">Next</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- </div> -->
            </div>
            <!-- Create User ends -->
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- Popup End -->
    <app-add-branch [arCity]="arCity"></app-add-branch>
    <app-add-institution [arCity]="arCity"></app-add-institution>

    <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Monthly Recap Report</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <div class="btn-group">
              <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-wrench"></i></button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-8">
              <p class="text-center">
                <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
              </p>

              <div class="chart">
                <!-- Sales Chart Canvas -->
                <canvas id="salesChart" style="height: 180px; width: 912px;" width="912" height="180"></canvas>
              </div>
              <!-- /.chart-responsive -->
            </div>
            <!-- /.col -->
            <div class="col-md-4">
              <p class="text-center">
                <strong>Goal Completion</strong>
              </p>

              <div class="progress-group">
                <span class="progress-text">Add Products to Cart</span>
                <span class="progress-number"><b>160</b>/200</span>

                <div class="progress sm">
                  <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
                </div>
              </div>
              <!-- /.progress-group -->
              <div class="progress-group">
                <span class="progress-text">Complete Purchase</span>
                <span class="progress-number"><b>310</b>/400</span>

                <div class="progress sm">
                  <div class="progress-bar progress-bar-red" style="width: 80%"></div>
                </div>
              </div>
              <!-- /.progress-group -->
              <div class="progress-group">
                <span class="progress-text">Visit Premium Page</span>
                <span class="progress-number"><b>480</b>/800</span>

                <div class="progress sm">
                  <div class="progress-bar progress-bar-green" style="width: 80%"></div>
                </div>
              </div>
              <!-- /.progress-group -->
              <div class="progress-group">
                <span class="progress-text">Send Inquiries</span>
                <span class="progress-number"><b>250</b>/500</span>

                <div class="progress sm">
                  <div class="progress-bar progress-bar-yellow" style="width: 80%"></div>
                </div>
              </div>
              <!-- /.progress-group -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- ./box-body -->
        <div class="box-footer">
          <div class="row">
            <div class="col-sm-3 col-xs-6">
              <div class="description-block border-right">
                <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
                <h5 class="description-header">$35,210.43</h5>
                <span class="description-text">TOTAL REVENUE</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-xs-6">
              <div class="description-block border-right">
                <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>
                <h5 class="description-header">$10,390.90</h5>
                <span class="description-text">TOTAL COST</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-xs-6">
              <div class="description-block border-right">
                <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
                <h5 class="description-header">$24,813.53</h5>
                <span class="description-text">TOTAL PROFIT</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-xs-6">
              <div class="description-block">
                <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
                <h5 class="description-header">1200</h5>
                <span class="description-text">GOAL COMPLETIONS</span>
              </div>
              <!-- /.description-block -->
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-footer -->
      
      </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->