<style>
  .completer-dropdown {
        border-color: #ececec;
        border-width: 1px;
        border-style: solid;
        border-radius: 2px;
        width: 250px;
        padding: 6px;
        cursor: pointer;
        z-index: 9999;
        position: absolute;
        margin-top: -6px;
        background-color: #ffffff;
    }
    .completer-row {
        padding: 5px;
        color: #000000;
        margin-bottom: 4px;
        clear: both;
        display: inline-block;
        width: 103%;
    }
    .completer-selected-row {
        background-color: lightblue;
        color: #ffffff;
    }
    .completer-description {
        font-size: 14px;
    }
    .completer-image-default {
        width: 16px;
        height: 16px;
        background-image: url("demo/res/img/default.png");
    }
    .completer-image-holder {
        float: left;
        width: 10%;
    }
    .completer-item-text-image {
        float: right;
        width: 90%;
    }
</style>
<div class="content-wrapper">

  <div class="page-heading">
    Feedback / Suggestion
  </div>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
          <div class="box-body">
            <div class="col-sm-8">
              <form [formGroup]="feedbackeForm" class="form-horizontal" (ngSubmit)="submitFeedback(feedbackeForm.value)">
                <div class="form-body">
                  <div class="form-group row">
                    <div class="col-sm-3">

                    </div>
                    <div class="col-sm-2">
                      <input type="radio" formControlName="evaluationType" name="evaluationType" value="FEEDBACK">
                      <label>Feedback</label>
                    </div>
                    <div class="col-sm-2">
                      <input type="radio" formControlName="evaluationType" name="evaluationType" value="SUGGESTION">
                      <label>Suggestion</label>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label createUserLabel">Subject:
                      <em class="astrick">*</em>
                    </label>
                    <div class="col-md-9" [class.has-error]="feedbackeForm.get('subject').invalid &&  feedbackeForm.get('subject').touched">
                      <input class="form-control" placeholder="Subject" formControlName="subject">
                    </div>
                    <div class="col-sm-3" *ngIf="feedbackeForm.get('subject').invalid &&  feedbackeForm.get('subject').touched">

                    </div>
                    <div class="col-sm-9" *ngIf="feedbackeForm.get('subject').invalid &&  feedbackeForm.get('subject').touched">
                      <small class="text-danger">
                        <span>Subject is required.</span>
                      </small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label createUserLabel">Feedback / Suggestion:
                      <em class="astrick">*</em>
                    </label>
                    <div class="col-md-9" [class.has-error]="feedbackeForm.get('feedback').invalid &&  feedbackeForm.get('feedback').touched">
                      <!-- <input class="form-control"  placeholder="Feedback / Suggestion" formControlName="feedback"> -->
                      <textarea rows="6" class="form-control" placeholder="Feedback / Suggestion" formControlName="feedback"></textarea>
                    </div>
                    <div class="col-sm-3" *ngIf="feedbackeForm.get('feedback').invalid &&  feedbackeForm.get('feedback').touched">

                    </div>
                    <div class="col-sm-9 " *ngIf="feedbackeForm.get('feedback').invalid &&  feedbackeForm.get('feedback').touched">
                      <small class="text-danger">
                        <span>Feedback / Suggestion is required.</span>
                      </small>
                    </div>
                  </div>
                </div>
                <div class="modal-footer modal-footer-addedit">
                  <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
                  <button type="submit" [disabled]="feedbackeForm.invalid" class="btn btn-modal-addedit">Submit</button>
                </div>
              </form>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>