<div class="content-wrapper">
  <div class="page-heading">
    Case Management
  </div>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
          <div class="box-body">
            <div class="nav-tabs-custom">
              <div>
                <div class="row case-table-toolbar">
                  <div class="col-sm-8 pr-zero">
                    <ul class="nav nav-tabs">
                      <li class="active">
                        <a href="#tab_running" (click)="runningTools()" data-toggle="tab">Running Cases</a>
                      </li>
                      <li>
                        <a href="#tab_completed" (click)="completedTools()" data-toggle="tab">Completed Cases</a>
                      </li>
                    </ul>
                  </div>
                  <div id="pageLength1" class="col-sm-2 case-pagelength">
                    <label class="custom-label">Show
                      <select class="input-sm" id="ddlLengthMenu">
                      </select> rows
                    </label>
                  </div>
                  <div id="searchBox1" class="col-sm-2 case-search">
                    <input type="text" id="txtSearch" class="input-sm custom-search" placeholder="Search...">
                  </div>
                  <div id="pageLength2" class="col-sm-2 case-pagelength" style="display:none">
                    <label class="custom-label">Show
                      <select class="input-sm" id="ddlLengthMenu2">
                      </select> rows
                    </label>
                  </div>
                  <div id="searchBox2" class="col-sm-2 case-search" style="display:none">
                    <input type="text" id="txtSearch2" class="input-sm custom-search" placeholder="Search...">
                  </div>
                </div>
              </div>
              <div class="tab-content">
                <div class="tab-pane active" id="tab_running">
                  <table id="example1" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Case ID</th>
                        <th>Court Case ID</th>
                        <th>Customer Name</th>
                        <th>Resource Type</th>
                        <th>Case Stage</th>
                        <th>Next Hearing Date</th>
                        <th>Branch</th>
                        <th>Employee</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let items of caseRunning" (dblclick)="showEditModal(items)">
                        <td>{{items.CaseId}}</td>
                        <td>{{items.CourtCaseId}}</td>
                        <td>{{items.CustomerName.name}}</td>
                        <td>{{items.Resource.name}}</td>
                        <td>{{items.CaseStage.name}}</td>
                        <td>{{items.NextHearingDate}}</td>
                        <td>{{items.Branch.name}}</td>
                        <td>{{items.Employee.name}}</td>
                        <td>
                          <a title="Edit">
                            <i class="fa fa-edit"></i>
                          </a> /
                          <a data-toggle="modal" data-target="#modal-default1" href="#">
                            <i class="fa fa-history"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane" id="tab_completed">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Court Case ID</th>
                        <th>Case ID</th>
                        <th>Filling Date</th>
                        <th>Completion Date</th>
                        <th>Branch Name</th>
                        <th>Court</th>
                        <th>Manager</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let items of caseCompleted" (dblclick)="showEditModal(items)">
                        <td>{{items.CourtCaseId}}</td>
                        <td>{{items.CaseId}}</td>
                        <td>{{items.FillingDate}}</td>
                        <td>{{items.CompletionDate}}</td>
                        <td>{{items.Branch.name}}</td>
                        <td>{{items.Court.name}}</td>
                        <td>{{items.Manager.name}}</td>
                        <td>
                          <a title="Edit">
                            <i class="fa fa-edit"></i>
                          </a> /
                          <a data-toggle="modal" data-target="#modal-default1" href="#">
                            <i class="fa fa-history"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box -->
      </div>
    </div>
  </section>
  <!-- /.content -->
  <div class="favicon">
    <div class="tooltip bg-black text-white font-size-12 padding-5 border-radius-3 fw-700">
      <span class="tooltip-text">Add Case</span>
    </div>
    <a>
      <i class="fa fa-plus" type="button" data-toggle="modal" data-target="#addCaseModal"></i>
    </a>
  </div>
  <app-edit-case [editCaseForm]="editCaseForm"></app-edit-case>
  <app-add-case></app-add-case>
  <app-history-case></app-history-case>
</div>