<!-- <div class="content-wrapper">
  <div class="page-heading">
    Case Management
  </div>

  <section class="content">
    <button (click)="filterTable()">Filter</button>
    <button (click)="resetTableFilter()">reset</button>
    <app-data-table #dataTable [tableData]="tableInputData" [tableColumns]="columns" (rowClick)="onRowClick($event)" (rowDoubleClick)="onRowDoubleClick($event)"
      (selectedRows)="onRowSelect($event)" [showRowSelect]="rowSelect" [hoverTableRow]="hoverTableRow">
    </app-data-table>
  </section>


  <div class="favicon" data-toggle="modal" data-target="#addUserModal">
    <div class="tooltip bg-black text-white font-size-12 padding-5 border-radius-3 fw-700">
      <span class="tooltip-text">Add User</span>
    </div>
    <a>
      <i class="fa fa-plus" type="button"></i>
    </a>
  </div> -->
<!-- <app-add-user (userAdded)="addUserToList($event)" [Status]="userStatus" [Roles]="userRoles"></app-add-user>
  <app-edit-user [Roles]="userRoles" [Status]="userStatus" [arrUsers]="arrUsers"></app-edit-user> -->
<!-- </div> -->

<style>
  .bgColor {
    background-color: #dd4b39;
  }

  .complianceColor {
    background-color: orange;
  }

  .compliancefalse {
    background-color: white;
  }

  .dateRange {
    font-weight: 400;
  }

  .marbtn {
    margin-left: -100px;
    margin-right: 10px;
  }

  .imgColor {
    -webkit-filter: saturate(8);
    filter: saturate(8);
  }

  .hide {
    display: none;
  }

  .nav-tabs-custom {
    padding-top: 25px;
  }
</style>
<div class="content-wrapper">
  <div class="page-heading">
    Case Management
  </div>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-body">
            <div class="row table-toolbar" id="divCustomFilter">
              <div class="col-sm-4 heading"></div>

              <!--     
                  <div class="col-sm-2">
                    <div *ngIf="arRecourse.length>0">
                      <app-custom-single-select [data]="arRecourse" [config]="recourseConfig" (valueChanged)="changeRecourse($event)"></app-custom-single-select>
                    </div>
                  </div> -->

            </div>
            <div>&nbsp;</div>
            <div class="nav-tabs-custom">
              <div>
                <div class="row case-table-toolbar">
                  <div class="col-sm-7 pr-zero">
                    <ul class="nav nav-tabs">
                      <li class="active">

                        <a href="#tab_running" (click)="runningTabActive()" data-toggle="tab">Running Cases</a>
                      </li>
                      <li>
                        <a href="#tab_completed" (click)="completedTabActive()" data-toggle="tab">Completed Cases</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-1">
                    <button *ngIf="IsPrintable" type="button" class="btn btn-modal-addedit pull-right" data-toggle="modal" data-target="#lstUploadedDocument"
                      (click)="getUploadedDocuments()">
                      <span class="glyphicon glyphicon-print"></span>
                    </button>
                  </div>
                  <div class="col-sm-2" *ngIf="runningCaseTabActive">
                    <!-- <button class="btn btn-default" data-dismiss="modal" id="btnResetFilter" type="button" (click)="resetTableFilter()">Reset</button> -->
                    <!-- <button id="btnFilter" style="margin-left: -1px;" type="button" class="btn btn-default" data-toggle="modal" data-target="#filterCaseModal">Filter</button> -->
                  </div>
                  <div class="col-sm-2" *ngIf="!runningCaseTabActive">
                    <!-- <button class="btn btn-default" data-dismiss="modal" id="btnResetFilter" type="button" (click)="resetTableFilterCompleted()">Reset</button>
                    <button id="btnFilter" style="margin-left: -1px;" type="button" class="btn btn-default" data-toggle="modal" data-target="#filterCaseModal">Filter</button>
                   -->
                  </div>

                  <div id="searchBox1" class="col-sm-5 case-search" *ngIf="runningCaseTabActive">
                    <input type="text" id="txtSearch" class="input-sm custom-search" placeholder="Search..." (keyup)="searchFilterRunning($event.target.value)">
                    <div class="col-sm-2">
                      <div *ngIf="arRecourse && arRecourse.length>0">
                        <app-custom-single-select [data]="arRecourse" [config]="recourseConfig" (valueChanged)="changeRecourse($event)"></app-custom-single-select>
                      </div>
                    </div>
                  </div>

                  <div id="searchBox2" class="col-sm-5 case-search" *ngIf="!runningCaseTabActive">
                    <input type="text" id="txtSearch2" class="input-sm custom-search" placeholder="Search..." (keyup)="searchFilterCompleted($event.target.value)">
                    <div class="col-sm-2">
                      <div *ngIf="arRecourse && arRecourse.length>0">
                        <app-custom-single-select [data]="arRecourse" [config]="recourseConfig" (valueChanged)="changeRecourse($event)"></app-custom-single-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-content">
                <div class="tab-pane active" id="tab_running">
                  <app-data-table #caseRunningTable [tableData]="tableInputData" [tableColumns]="columns" (rowClick)="onRowClick($event)" (rowDoubleClick)="onRowDoubleClick($event)"
                    (selectedRows)="onRowSelect($event)" [showRowSelect]="rowSelect" [hoverTableRow]="hoverTableRow" [actionColumnConfig]="actionColumnConfig"
                    [showSearchFilter]="showSearchFilter" (filterBtnClick)="onCaseFilterClick($event)" (actionBtnClick)="onActionBtnClick($event)"
                    (rowClickShowCalendar)="onShowCalendar($event)" [moduleName]="moduleName">
                  </app-data-table>

                </div>
                <div class="tab-pane" id="tab_completed">
                  <app-data-table #caseCompletedTable [tableData]="completedTableInputData" [tableColumns]="completedColumns" (rowClick)="onRowClickCompleted($event)"
                    (rowDoubleClick)="onRowDoubleClickCompleted($event)" (selectedRows)="onRowSelectCompleted($event)" [showRowSelect]="rowSelect"
                    [hoverTableRow]="hoverTableRow" [actionColumnConfig]="actionColumnConfig" [showSearchFilter]="showSearchFilter"
                    (actionBtnClick)="onActionBtnClick($event)" (actionBtnClick)="onActionBtnClickCompleted($event)">
                  </app-data-table>

                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>
  </section>
  <app-edit-case (addCaseSuccess)="caseSaved()" [tableInputData]="tableInputData" [isRunningCase]="runningCaseTabActive" [Court]="arCourts"></app-edit-case>
  <app-add-case (addCaseSuccess)="caseSaved()"></app-add-case>
  <app-history-case></app-history-case>
  <div class="modal fade" style="z-index: 2001;" id="filterCaseModal">
    <div class="modal-dialog caseModalSearch">
      <div class="modal-content" style="border-radius: 5px;">
        <div class="modal-header">

          <button type="button" id="closebtnFilter" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title caseHeading">Filter </h4>
          <!-- <div class="caseBranch">
            <label style="width:85px" class="caseSearchLabel">Branch:</label>
            <select id="ddlCaseBranch" class="caseFilterDropDown1">
              <option value="All">All</option>
              <option *ngFor="let item of arrListCaseBranch" [ngValue]="item.id">{{item.branchName}}</option>
            </select>
          </div> -->
        </div>
        <div style="width:120px;height:10%;background-color:black;"></div>
        <div style="margin-top: -15px; margin-bottom: -15px;" class="modal-body">
          <div class="row caseModalRow">
            <!-- <div class="col-md-12 col-sm-12 col-xs-12 append_bottom16">
              <label class="caseSearchLabel">Recourse Type:</label>
              <select id="ddlCaseRecource" class="caseFilterDropDown1">
                <option value="">All</option>
                <option *ngFor="let option of arrListCaseRecource" [ngValue]="option.id">{{ option.recourseName }}</option>
              </select>
              <label style="width:102px" class="caseSearchLabel">Case Stage:</label>
              <select id="ddlCaseStage" class="caseFilterDropDown1">
                <option value="">All</option>
                <option *ngFor="let option of arrListCaseStage" [ngValue]="option.id">{{ option.stageName }}</option>
              </select>

            </div> -->
            <div class="col-md-12 col-sm-12 col-xs-12 append_bottom16">

              <div class="form-group">
                <label class="dateRange">Date range:</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input style="width:560px;margin-right:575px;" type="text" class="form-control pull-right" id="reservation">
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer FilterSearch">
            <button type="button" id="btnReset" class="btn btn-default" (click)="resetGrid();" data-dismiss="modal">Reset</button>
            <button type="submit" id="btnSearch" (click)="filterCaseData()" class="btn btn-default caseSearch">Search</button>
          </div>

        </div>
      </div>
    </div>


  </div>
  <div class="favicon" *ngIf="!isViewOnly" data-toggle="modal" (click)="addCase()">
    <div class="tooltip bg-black text-white font-size-12 padding-5 border-radius-3 fw-700">
      <span class="tooltip-text">Add Case</span>
    </div>
    <a>
      <i class="fa fa-plus" type="button"></i>
    </a>
  </div>
  <!-- <app-add-case></app-add-case> -->

  <div class="modal fade" id="lstUploadedDocument">
    <div class="modal-dialog">
      <div class="modal-content" style="border-radius: 5px;">
        <div class="modal-header modal-header-addedit">
          <button type="button" class="close close-addedit" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Select from List Of Documents</h4>
        </div>


        <div class="modal-body">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">List Of Documents</h3>

              <div class="box-tools">
              </div>
            </div>
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th class="padding-bottom">Select</th>
                  <th class="padding-bottom">File Name</th>
                  <th class="padding-bottom">Last Updated</th>
                  <th class="padding-bottom">Last Updated By</th>
                </tr>
                <tr *ngFor="let file of lstUploadedDocuments; let i=index">
                  <td>
                    <input type="checkbox" (change)="getSelectedDocument($event,file.id)" />
                  </td>
                  <td>{{file.description}}</td>
                  <td>{{file.updatedDate}}</td>
                  <td>{{file.firstName}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" (click)="getMappingFilesTodownload()">Submit</button>

        </div>
      </div>
    </div>
  </div>

</div>