<style type="text/css">
    body {
        background: #fafafa;
        font: 12px/20px Arial, Helvetica, sans-serif
    }

    .invoice-wrap {
        width: 915px;
        margin: 0 auto;
        background: #FFF;
        color: #000;
        min-height: 700px;
    }

    .invoice-inner {
        margin: 0 15px;
        padding: 20px 0;
    }

    .invoice-address {
        border-top: 3px double #000000;
        margin: 20px 0;
        padding-top: 25px;
        margin-bottom: 30px;
    }

    .bussines-name {
        font-size: 18px;
        font-weight: 100
    }

    .invoice-name {
        font-size: 22px;
        font-weight: 700
    }

    .listing-table th {
        background-color: #e5e5e5;
        border-bottom: 1px solid #555555;
        border-top: 1px solid #555555;
        font-weight: bold;
        text-align: left;
        padding: 6px 4px
    }

    .listing-table td {
        border-bottom: 1px solid #555555;
        text-align: left;
        padding: 5px 6px;
        vertical-align: top
    }

    .total-table td {
        border-left: 1px solid #555555;
    }

    .total-row {
        background-color: #e5e5e5;
        border-bottom: 1px solid #555555;
        border-top: 1px solid #555555;
        font-weight: bold;
    }

    .row-items {
        margin: 5px 0;
        display: block
    }

    .notes-block {
        margin: 50px 0 0 0
    }

    /*tables*/

    table td {
        vertical-align: top
    }

    .items-table {
        border: 1px solid #555555;
        border-collapse: collapse;
        width: 100%
    }

    .items-table td,
    .items-table th {
        border: 1px solid #555555;
        padding: 4px 5px;
        text-align: left
    }

    .items-table th {
        background: #f5f5f5;
    }

    .totals-row .wide-cell {
        border: 1px solid #fff;
        border-right: 1px solid #555555;
        border-top: 1px solid #555555
    }

    .html2canvas-container {
        width: 3000px !important;
        height: 3000px !important;
    }

    #NewPaginationContainer {
        text-align: left;
    }

    .disabled {
        cursor: not-allowed;
        pointer-events: none;

        /*Button disabled - CSS color class*/
        color: #c0c0c0;

    }
</style>
<div class="content-wrapper" id="print-section">
    <div class="page-heading">
        Invoice
    </div>
    <!-- Main content -->
    <section class="content">

        <div id="templateArea">
            <div class="col-md-12">
                <div class="col-md-2" style="text-align:right;padding-right:5px;">
                    <div class="pagination-previous" (click)="PreviousCheck()">
                        <a class="btn btn-default" (click)="p.previous()"> Previous </a>
                    </div>
                    <!-- <a [routerLink]="['/admin/invoices/invoiceform']" class="btn btn-default">Back</a> -->
                </div>
                <div class="col-md-8" style="padding:0px">
                    <div class="invoice-wrap">

                        <div class="invoice-inner" id="pdfdownloaddiv">
                            <table border="0" cellpadding="0" cellspacing="0" class="is_logo" width="100%">
                                <tbody>
                                    <tr>
                                        <td align="center" valign="top">
                                            <div>
                                                <div id="logoDiv">
                                                    <img height="102" *ngIf="invoiceTemplateInfo.photoUrl" [src]="invoiceTemplateInfo.photoUrl" class="img-fluid" alt="">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="invoice-address">
                                <div class="col-md-12" style="padding:0px;">
                                    <div class="col-md-6" style="padding:0px;">
                                        <label>Invoice No : </label>
                                        <label id=invoiceNo>{{invoiceTemplateInfo.invoiceNo}}</label>
                                    </div>
                                    <div class="col-md-6" style="text-align:right;padding:0px;">
                                        <div style="display: inline-flex">
                                            <label>Date : </label>
                                            <label> {{todayDate | date}}</label>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div>
                                <table id="tblInvoice" class="table table-condensed table-bordered table-striped items-table">
                                    <thead>
                                        <tr>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                Quantity
                                            </th>
                                            <!-- <th class="mount-header">
                                        Unit price
                                    </th> -->

                                            <th>
                                                Amount
                                            </th>
                                            <th width="20">&nbsp;</th>
                                        </tr>
                                    </thead>

                                    <tbody id="itemsInvoice">

                                        <tr *ngFor="let item of arrInvoiceDetails |  paginate: { itemsPerPage: 5, currentPage: p2 }" description="Description" qty="1"
                                            unit_price="0" discount="0" subtotal="0" total="0" class="invoiceRow">
                                            <td style="width: 500px">
                                                <textarea  rows="2" class="form-control description" type="text" placeholder="Description">{{item.description}}</textarea>
                                            </td>
                                            <td>
                                                <input class="form-control date" disabled value="{{item.billingDate}}" style="width:100px" placeholder="Date">
                                            </td>
                                            <td>
                                                <input class="form-control quantity" disabled value="{{item.quantity}}" style="width:100px" placeholder="Quantity">
                                            </td>


                                            <td>
                                                <input class="form-control amount" value="{{item.amount}}" onchange="Window.InvoiceFormComponent.CalculateFinalAmount(this)"
                                                    style="width:100px" placeholder="Amount">

                                            </td>
                                            <td>
                                                <a onclick="Window.InvoiceFormComponent.RemoveInvoice(this)" class="btn btn-danger btn-sm remove-item">
                                                    <i class="fa fa-fw fa-trash"></i>
                                                </a>
                                                <input type="hidden" id="hfBillingId" value="{{item.id}}">
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot id="TotalsSection">

                                        <tr class="totals-row" id="TotalRow">
                                            <!-- <td class="wide-cell" colspan="1">
                                        <button type="button" (click)="AddMoreInvoice()" id="AddProduct" class="btn btn-small btn-primary">
                                            <i class="fa fa-plus"></i> Add Line</button>
                                    </td> -->
                                            <td colspan="3">
                                                <strong>
                                                    <!-- <input type="text" id="label_total" value="Total" class="invoice-input" style="font-weight: bold;"> -->
                                                    <label style="font-weight:bold">Total</label>
                                                </strong>
                                            </td>
                                            <td colspan="2">
                                                Rs
                                                <label id="totalAmount">{{totalAmount}}</label>
                                            </td>
                                        </tr>

                                    </tfoot>
                                </table>
                            </div>
                            <button class="btn btn bg-navy margin pull-right" (click)="SaveInvoice()" style="margin-right:0px" type="submit">Submit</button>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-2" style="padding-left:5px;">
                    <div id="NewPaginationContainer"></div>
                </div>
                <pagination-template #p="paginationApi" (pageChange)="p2 = $event">
                    <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                    <div class="custom-pagination">
                        <div class="pagination-next" [class.disabled]="p.isLastPage()" (click)="CalculateFinalAmount(null)">
                            <a class="btn btn-default" (click)="p.next()"> Next </a>
                        </div>
                    </div>

                </pagination-template>
            </div>

        </div>

    </section>
    <div style="clear: both;"></div>
</div>
<div style="clear: both;"></div>