<div class="content-wrapper">
    <div class="page-heading">
        Invoice Management
    </div>
    <section class="content">
        <div class="box box-info invoice-form">
            <div class="box-header with-border">
                <h3 class="box-title">Invoice Template</h3>
                <a *ngIf="!editTemplate" title="Edit Profile" (click)="editInvoice()" class="btn-edit">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </div>
            <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()" class="form-horizontal ">
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Logo</label>
                        <div class="col-sm-10">
                            <div class="logo-image">
                                <div class="image-area">
                                    <img *ngIf="photoUrl" [ngClass]="{'change-opacity': !editTemplate}" src="{{photoUrl}}" class="img-fluid" alt="">
                                </div>
                                <label class="invoice-logo-upload" *ngIf="editTemplate">
                                    <input class="form-control" type="file" id="logoImage" (change)=onFileChange($event)> Upload
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Address</label>
                        <div *ngIf="editTemplate" class="col-sm-10">
                            <input type="text" class="form-control" formControlName="addressLine1" placeholder="Address Line 1">
                            <input type="text" class="form-control" formControlName="addressLine2" placeholder="Address Line 2">
                            <input type="text" class="form-control" formControlName="city" placeholder="City">
                            <input type="text" class="form-control" formControlName="state" placeholder="State">
                            <input type="text" class="form-control" formControlName="zipcode" placeholder="Zipcode">
                        </div>
                        <div *ngIf="!editTemplate && address" class="col-sm-10">
                            <label class="control-label">{{address.address1}}</label>
                            <label class=" control-label">{{address.address2}}</label>
                            <label class=" control-label">{{address.city}}</label>
                            <label class=" control-label">{{address.state}}</label>
                            <label class=" control-label">{{address.zipCode}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Terms & Conditions</label>
                        <div class="col-sm-10" *ngIf="editTemplate">
                            <textarea type="text" class="form-control" formControlName="terms" placeholder="Enter terms and conditions"></textarea>
                        </div>
                        <div class="col-sm-10" *ngIf="!editTemplate">
                            <p>{{ termsCondition }}</p>
                        </div>
                    </div>
                    <div class="form-group footer-buttons" *ngIf="editTemplate">
                        <button type="submit" class="btn btn-default pull-right">Save</button>
                        <button type="button" class="btn btn-default pull-right" (click)="revert()">Cancel</button>
                    </div>
                </div>
            </form>
            

        </div>
    </section>
</div>