/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.table-dropdown-sort .mat-form-field-label{
    display: none !important;
    border: 1px solid red;
}

.mat-row-hover:hover{
    background-color: whitesmoke;
}
.mat-row-change-bg{
    background-color: orange;
}
.mat-row{
    cursor: pointer;
}
.mat-cell-text{    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 150px;
    float: left;
}
.mat-column-select {
    flex: 0.3 !important;
}
.mat-header-row{
    position: sticky;
    top: 0;
    background-color: inherit;
}
.mat-header-cell{
    color: rgb(34, 45, 50);
    font-size: 15px;
    font-weight: 700;
}
/* .mat-column-id {
    flex: 0.3 !important;
}
.mat-column-status {
    flex: 0.3 !important;
}
.mat-column-roles {
    flex: 0.5 !important;
} */
.mat-column-action {
    flex: 0 0 110px !important;
}
.hearing-date{
    position: absolute;
    margin-top: -24px;
}
@media only screen and (max-width: 760px) ,
(min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait){
 .mat-row, .mat-header-row {
    width: 200vw;
  }
 
  .table { 
    overflow: scroll;
  } 
}
