<style>
  .ui-select-choices.dropdown-menu {
    display: block;
  }
  .completer-dropdown-holder
  {
   background-color:red;
  }
  
</style>
<div class="modal fade" id="addCaseModal">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius: 5px;">
      <div class="modal-header modal-header-addedit">
        <button type="button" id="closebtn1" class="close close-addedit" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add Case</h4>
      </div>
      <div style="width:120px;height:10%;background-color:black;"></div>
      <div class="modal-body modal-body-adedit" style="margin-top: -15px;">
        <!-- Edit Case Starts -->
        <div class="row">
          <!-- <div class="col-md-12"> -->
          <input type="hidden" name="base_url" id="base_url" value="http://legalfriend.infinityfreeapp.com/">
          <div>



            <div class="box-body widget-content">
              <form [formGroup]="addCaseForm" class="form-horizontal" (ngSubmit)="submitAddCaseUser(addCaseForm.value)">
                <div class="form-body">
                  <div class="tab-content">
                    <div class="tab-pane active">

                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label createUserLabel">Court Case Id:
                          <!-- <em class="astrick">*</em> -->
                        </label>
                        <div class="col-md-9">
                          <input class="form-control" placeholder="Court Case Id" formControlName="courtCaseId">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label createUserLabel">Recourse:
                          <em class="astrick">*</em>
                        </label>
                        <div class="col-md-9 " id="divRecourse" *ngIf="Resource.length > 0">


                          <ng-select [allowClear]="true" [items]="Resource" [attr.disabled]="disabled" formControlName="recourse"  (data)="refreshValue($event)" (selected)="selectedRecourse1($event)"
                            (removed)="removed($event)" (typed)="typed($event)" placeholder="No recourse selected">
                          </ng-select>

                         

                        </div>
                      </div>
                      <div class="form-group row" *ngIf="Stage.length>0" style="display:none" id="ddls" >
                          <label class="col-sm-3 col-form-label createUserLabel">Stage:
                            <em class="astrick">*</em>
                          </label>
                          <div class="col-md-9">
                            
                                      <ng-select [allowClear]="true" [items]="Stage" [attr.disabled]="disabled" (data)="refreshValue($event)" id="ddlR" (selected)="selected($event)"
                                      (removed)="removed($event)" (typed)="typed($event)" placeholder="No stage selected" formControlName="stage">
                                    </ng-select>
                          </div>
                        </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label createUserLabel">Manager:
                          <em class="astrick">*</em>
                        </label>
                        <div class="col-md-9" id="divManager" *ngIf="Manager.length > 0">
                          
                                  <ng-select [allowClear]="true" [items]="Manager" formControlName="manager" [attr.disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)"
                                  (removed)="removed($event)" (typed)="typed($event)" placeholder="No manager selected">
                                </ng-select>
                        </div>
                        <span style="color:red;display:none;margin-left:20px" id="spnManager">Please create Manager first in User Management</span>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-3 col-form-label createUserLabel">Employee:
                            <em class="astrick">*</em>
                          </label>
                          <div class="col-md-9" *ngIf="Employee.length>0">
                     
                                    <ng-select [allowClear]="true" [items]="Employee" [attr.disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)"
                                    (removed)="removed($event)" (typed)="typed($event)" placeholder="No employee selected" formControlName="employee">
                                  </ng-select>
                          </div>
                          <span style="color:red;display:none;margin-left:20px" id="spnEmployee">Please create Employee first in User Management</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label createUserLabel">Customer Name:
                              <em class="astrick">*</em>
                            </label>
                            <div class="col-md-9"  id="divCustomerName" *ngIf="CustomerName.length > 0">
                              <ng-select [allowClear]="true" [items]="CustomerName" [attr.disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)"
                              (removed)="removed($event)" (typed)="typed($event)" placeholder="No customer selected" formControlName="customerName">
                            </ng-select>
  
                            </div>
                            <span style="color:red;display:none;margin-left:20px" id="spnCustomer">Please create Customer first in User Management</span>
                          </div>
                      <div class="form-group row" >
                        <label class="col-sm-3 col-form-label createUserLabel">Court:
                          <em class="astrick">*</em>
                        </label>
                        <div class="col-md-9" id="divCourt" *ngIf="Court.length > 0">


                                      <ng-select [allowClear]="true" [items]="Court" formControlName="court" [attr.disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)"
                                      (removed)="removed($event)" (typed)="typed($event)" placeholder="No court selected">
                                    </ng-select>
                        </div>
                      </div>
                      <div class="form-group row" >
                        <label class="col-sm-3 col-form-label createUserLabel">State:
                          <em class="astrick">*</em>
                        </label>
                        <div class="col-md-9" id="divState" *ngIf="State.length > 0">
                          <!-- <ngx-select-dropdown (change)="dropChangeState(this)" [config]="config" [options]="arDdl"  
                                  [(value)]="configData" [multiple]="false" ></ngx-select-dropdown> -->
                                  <ng-select [allowClear]="true" [items]="State" formControlName="state" [attr.disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)"
                                  (removed)="removed($event)" (typed)="typed($event)" placeholder="No state selected">
                                </ng-select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label createUserLabel">Parent Case:
                          <!-- <em class="astrick">*</em> -->
                        </label>
                        <div class="col-md-9" >

                            <ng2-completer formControlName="parentCase" [inputClass]="['form-control']" [(ngModel)]="searchStr" [datasource]="dataService" [matchClass]="match" [autofocus]="true"   [minSearchLength]="0" [autoHighlight]="true" [fillHighlighted]="false"></ng2-completer>
                         
                                  <!-- <ng-select [allowClear]="true" [items]="ParentCases" formControlName="parentCase" [attr.disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)"
                                  (removed)="removed($event)" (typed)="typed($event)" placeholder="No parent case selected">
                                </ng-select> -->
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label createUserLabel">Next Hearing Date:
                          <em class="astrick">*</em>
                        </label>
                        <div class="col-md-9" >
                          <!-- <input class="form-control" placeholder="Next Hearing Date" formControlName="nextHearingDate"> -->
                          <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                            <input type="text" tabindex="14" id="NEXT_HEARING_DATE"  name="NEXT_HEARING_DATE" readonly="" placeholder="yyyy-mm-dd" class="form-control"
                              size="10" formControlName="nextHearingDate" >
                            <div class="input-group-addon">
                              <span class="fa fa-calendar"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label createUserLabel">Remark:
                          <em class="astrick">*</em>
                        </label>
                        <div class="col-md-9" [class.has-error]="addCaseForm.get('remark').invalid &&  addCaseForm.get('remark').touched">
                          <!-- <input class="form-control" placeholder="Remark" formControlName="remark"> -->
                          <textarea name="REMARK" tabindex="8" id="REMARK" class="form-control" formControlName="remark">case filed12</textarea>
                        </div>
                        <div class="col-sm-9 valodation-padding" *ngIf="addCaseForm.get('remark').invalid &&  addCaseForm.get('remark').touched">
                          <small class="text-danger">
                            <span>Remark is required.</span>
                          </small>
                        </div>
                      </div>
                      <div class="form-group row" >
                        <label class="col-sm-3 col-form-label createUserLabel">Branch:
                          <em class="astrick">*</em>
                        </label>
                        <div class="col-md-9" id="divBranch" *ngIf="Branch.length > 0" >
                          <!-- <ngx-select-dropdown (change)="dropChangeBranch(this)" [config]="config" [options]="Branch"  
                                    [(value)]="configData" [multiple]="false" ></ngx-select-dropdown> -->
                                    <ng-select [allowClear]="true" [items]="Branch" [attr.disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)"
                                    (removed)="removed($event)" (typed)="typed($event)" placeholder="No branch selected" formControlName="branch">
                                  </ng-select>
                        </div>
                        <span style="color:red;display:none;margin-left:20px" id="spnBranch">Please create Branch first in Master</span>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label createUserLabel">Filing date:
                          <em class="astrick">*</em>
                        </label>
                        <div class="col-md-9">
                          <!-- <input class="form-control" placeholder="Filing date" formControlName="filingdate"> -->
                          <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                            <input type="text" tabindex="9" id="FILING_DATE" name="FILING_DATE" readonly="" placeholder="yyyy-mm-dd" class="form-control"
                              size="10" value="2017-11-07" formControlName="filingdate">
                            <div class="input-group-addon">
                              <span class="fa fa-calendar"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                     
                      
                      <div class="form-group row" *ngIf="CourtPlace.length>0">
                        <label class="col-sm-3 col-form-label createUserLabel">Court place:
                          <em class="astrick">*</em>
                        </label>
                        <div class="col-md-9">
                          

                                <ng-select [allowClear]="true" [items]="CourtPlace" [attr.disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)"
                                (removed)="removed($event)" (typed)="typed($event)" placeholder="No court place selected" formControlName="courtplace">
                              </ng-select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label createUserLabel">Opp Lawyer:
                          <!-- <em class="astrick">*</em> -->
                        </label>
                        <div class="col-md-9">
                          <input class="form-control" placeholder="Opp Lawyer" formControlName="oppLawyer">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label createUserLabel">Child Case:
                          <!-- <em class="astrick">*</em> -->
                        </label>
                        <div class="col-md-9">
                          <!-- <input class="form-control" placeholder="Child Case" formControlName="childCase"> -->
                          <ng2-completer formControlName="childCase" [inputClass]="['form-control']" [(ngModel)]="searchStr" [datasource]="dataService" [matchClass]="match" [autofocus]="true"   [minSearchLength]="0" [autoHighlight]="true" [fillHighlighted]="false"></ng2-completer>
                         
                        </div>
                      </div>

                     
                        
                      
                      
                          
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label createUserLabel">Last Hearing Date:
                          <!-- <em class="astrick">*</em> -->
                        </label>
                        <div class="col-md-9">
                          <!-- <input class="form-control" placeholder="Last Hearing Date" formControlName="lastHearingDate"> -->
                          <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                            <input type="text" tabindex="14" id="LAST_HEARING_DATE" name="LAST_HEARING_DATE" readonly="" placeholder="yyyy-mm-dd" class="form-control"
                              size="10"  formControlName="lastHearingDate">
                            <div class="input-group-addon">
                              <span class="fa fa-calendar"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label createUserLabel">Upload Document:
                          <!-- <em class="astrick">*</em> -->
                        </label>
                        <div class="col-md-9">
                          <!-- <input class="form-control" placeholder="Upload Document" formControlName="uploadDocument"> -->
                          <input type="file" name="upload_document" id="upload_document" class="form-control" formControlName="uploadDocument">
                        </div>




                       



                      </div>

                      <div class="form-group row">
                        <div class="col-md-4">
                          <!-- <button type="submit" [disabled]="signupForm.invalid" class="btn green button-submit">
                            Submit
                            <i class="m-icon-swapright m-icon-white"></i>
                          </button> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer modal-footer-addedit">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" [disabled]="addCaseForm.invalid" class="btn btn-modal-addedit">Submit</button>
                  <!-- <button type="submit" class="btn btn-modal-addedit">Submit</button> -->
                </div>
              </form>
            </div>
          </div>
          <!-- </div> -->
        </div>
        <!-- Create User ends -->
      </div>


    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- <div class="block"
(ngxf-drop)="uploadFileList($event)"
drop-class="drop"
accept="image/*,.svg"
multiple
[ngxf-validate]="{ size: { min: 50000, max:1000000 } }">
<label class="upload-button">
<input type="file"
     (ngxf-select)="uploadFile($event)"
     [ngxf-validate]="{ size: { min: 50000, max:1000000 } }"
     accept="image/*,.svg,.ttt" >
choice file.
</label>

<label class="upload-button">
<input type="file" (ngxf-select)="uploadFileList($event)" multiple accept="image/*,.mp3">
choic files
</label>
</div>
<div class="block"
(ngxf-drop)="uploadFileList($event)"
drop-class="drop"
accept="image/*,.svg"
multiple
[ngxf-validate]="{ size: { min: 50000, max:1000000 } }">Drop Area</div> -->


